<div #anchorRef cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div class="font-14-label pad-10">
        <div class="column-center">
            <!-- Session-Name -->
            
            <div class="row-start-left-gap-3 width-100-Prozent">
                <div class="column-start-left">
                    <mat-label class="font-14-label">Session name</mat-label>
                </div>
                <input  class="font-14-data input" name="SessionName" matInput [(ngModel)]="sess.Name" maxlength="30" type="text">
            </div>
            

            <!-- GestartedWann -->
            <div class="row-start-left-gap-3 width-100-Prozent mg-top-10">
                <div class="column-start-left">
                    <div class="column-start-left">
                        <mat-label class="font-14-label">Start</mat-label>
                    </div>
            
                    <input matInput type="text" [disabled]="true" class="font-14-data"
                        [ngModel]="sess.GestartedWannText(dateFormatTyp.KomplettOhneSekunden)">
                </div>
            </div>
                

            <div class="row-start-left-gap-3 width-100-Prozent mg-top-10">                
                <!-- Bodyweight -->
                    <div class="column-start-left">
                        <div class="column-start-left">
                            <mat-label class="font-14-label">Bodyweight ({{GewichtsEinheit}})</mat-label>
                        </div>

                        <input matInput 
                              class="align-right"
                              [ngModel]="sess.BodyWeightSessionText"
                              mask="999.000"
                              (focus)="onFocusBodyweight($event)"
                              (focusout)="SetBodyweight($event)"
                               type="text">
                    </div>                               
                <!-- Lifted-Weight -->
                    <div class="column-start-left">    
                        <div class="column-start-left">
                            <mat-label class="font-14-label">Weight lifted ({{GewichtsEinheit}})</mat-label>
                        </div>                    

                        <input  matInput type="text"  [disabled]="true" 
                        class="align-right font-14-data" 
                        [ngModel]="sess.LiftedWeightText"
                        mask="999.000">
                    </div>

                <!-- Duration -->
                    <div class="column-start-left">
                        <div class="column-start-left">
                            <mat-label class="font-14-label">Duration</mat-label>
                        </div>

                        <input  matInput type="text"  [disabled]="true" class="align-right font-14-data" value="{{sess.DauerFormatted}}">
                    </div>
            </div>
        </div>
    </div>

    <div class="row-center">
        <a mat-button (click)="close()"><span class="tc-font-size-small">close</span></a>
    </div>
</div>