// @import '../../../styles.scss';

.header {
    padding-top: 5px !important;
    position: fixed;
    z-index: 1000; 
    background-color:  black;
    //background-color: var(--input-background-color);// white;
    max-height: 40px;
    width: 100%;
}

.header-schmal {
    @extend .header;
    top: -1px;
}

.header-breit {
    @extend .header;
    top: -5px;
}


.header-line {
    max-width: 400px;
}

.main-panel {
    position: relative; 
    z-index: 1;
    max-width: 380px;
} 

.main-panel-schmal {
    @extend .main-panel;
    top: 53px;
    width:100%;

}
 
.main-panel-breit {
    @extend .main-panel;
    top: 15px;
}

#workout-form-main {

    padding-left: 10px !important;
    padding-right: 10px !important;
    width: 100%;
    max-width: 380px;

}

mat-expansion-panel {
    width: 100%;
  }