<ng-container *ngIf="session" >
    <mat-accordion multi="true">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <div>{{satzTypText}}</div>
            </mat-expansion-panel-header>
            
            <ng-container *ngIf='bearbeitbar; then  BearbeitbarBlock else NurLesenBlock'>
                </ng-container>
            <!-- Nur Lesen -->
            <ng-template #NurLesenBlock>
                <div fxLayout="row" fxLayout.lt-sm="row" fxLayoutAlign="flex-start">
                    <ng-container *ngFor="let satz of satzListe, index as i">
                        <app-satz-simple [satz]="satz"></app-satz-simple>
                    </ng-container>
                </div>
            </ng-template>
            <!-- Bearbeitbar -->
            <ng-template #BearbeitbarBlock>
                <div fxLayout="column" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
                    <ng-container *ngFor="let satz of satzListe, index as i">
                        <app-satz-edit [rowNum]="i" [sessUebung]="sessUebung" [satz]="satz" [sess]="session">
                        </app-satz-edit>
                    </ng-container>


                    <div fxLayout="row wrap" fxLayout.lt-sm="row wrap" fxLayoutAlign="center">
                        <div class="center-item" layout-align="center center">
                            <a [ngClass]="['link-button-font']" mat-flat-button (click)="AddSet()">Add Set</a>
                        </div>
                        <div class="center-item" layout-align="center center">
                            <a [ngClass]="['link-button-font']" mat-flat-button (click)="PasteSet()">Paste Set</a>
                        </div>
                    </div>
                </div>
            </ng-template>

        </mat-expansion-panel>
    </mat-accordion>
    </ng-container>