<ng-container *ngIf="session" >
        <mat-accordion multi="true">
            <mat-expansion-panel #ExpansionPanel [expanded]="true">
                <mat-expansion-panel-header  class="disable_ripple">
                    <div class="row-start-left-gap-7 wrap" >
                        <div class="colum-center mr-10">
                            <span class="Satz-Typ-Text">{{satzArt}}</span>
                        </div>

                        <ng-container *ngIf='bearbeitbar'>
                            <div class="colum-center">
                                <span class="material-symbols-outlined label-font-size-large" (click)="AddSet($event)">add_ad</span>
                            </div>
                            <div class="colum-center">
                                <span class="material-symbols-outlined label-font-size-large" (click)="PasteSet($event)">view_kanban</span>
                            </div>
                        </ng-container>
                    </div>
                </mat-expansion-panel-header>
            
                <ng-container *ngIf='bearbeitbar; then  BearbeitbarBlock else NurLesenBlock'>
                </ng-container>
                <!-- Nur Lesen -->
                <ng-template #NurLesenBlock>
                    <div class="row-start-left-gap-3">
                        <ng-container *ngFor="let satz of satzListe, index as i">
                                <app-satz-simple [satz]="satz"></app-satz-simple>
                        </ng-container>
                    </div>
                </ng-template>
                <!-- Bearbeitbar -->
                <ng-template #BearbeitbarBlock>
                    <div fxLayout="column" fxLayout.lt-sm="column" fxLayoutAlign="flex-start">
                        <ng-container *ngFor="let satz of satzListe, index as i">
                            
                            <app-satz-edit #AppSatzEdit 
                                    [rowNum]="i" 
                                    [programm]="programm" 
                                    [programmModul]="programmModulArt"
                                    [sessUebung]="sessUebung" 
                                    [satz]="satz" 
                                    [sess]="session" 
                                    [satzArt]="satzTyp"
                                    [StoppUhrService]="StoppUhrService" 
                                    [DeletedSatzList]="DeletedSatzList" >
                                </app-satz-edit>
                            </ng-container>
                        </div>
                </ng-template>
            </mat-expansion-panel>
        </mat-accordion>
</ng-container>