
<div class="header-box">
    <ng-container *ngIf="SelectMode === false">
            <app-toolbar></app-toolbar>
    </ng-container>

    
    <div class="column-center">
        <div class="row-center height-40" >
            <ng-container *ngIf="SelectMode === false; else elseBlock">
                <h4>Exercises</h4>
            </ng-container>
            
            <ng-template #elseBlock>
                <h4>Select one or more exercises</h4>
            </ng-template>
        </div>

        <div class="row-center height-30"> 
            <a class='link-button-font' mat-flat-button (click)="NewExercise()">New exercise</a>
        </div>
    </div>

    <!-- <div class="row-center">
        <div class="column-center width-600">
            <div class="row-center">
                <a class='link-button-font' (click)="AdditionalSession()">Additional session</a>
            </div>
            <ng-container  *ngIf="AktuellesProgramm">
                <h4>{{AktuellesProgramm.Name}}</h4>
            </ng-container>
        </div>
    </div> -->
</div>



<div id="main-panel" class="column-center">

    <ng-container *ngIf="UebungListeSortedByName">
    
        <div class="column-center">
            <ng-container *ngFor="let uebung of UebungListeSortedByName, index as i">
                <div class="row-start-left height-40" [ngClass]="{'HG-01': i % 2 === 0}">
                    <ng-container *ngIf="SelectMode">
                        <div class="column-center">
                            <mat-checkbox class="mg-5" [(ngModel)]="uebung.Selected"></mat-checkbox>
                        </div>
                    </ng-container>

                    <div id="exerciseName" class="column-center">
                        <a class='exercise-button' (click)="EditExercise(uebung)">{{uebung.Name}}</a>
                    </div>

                    <div id="deleteExerciseButton" class="column-center">
                        <a class="ref-button"  (click)="DeleteExercise(uebung)">Delete</a>
                    </div>
                </div>
            </ng-container>
            
            <ng-container *ngIf="SelectMode">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <a class='ref-button' mat-flat-button (click)="OkClickFn()">Ok</a>
                    <a class='ref-button' mat-flat-button (click)="CancelClickFn()">Cancel</a>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>