
<div class="header-box">
    <ng-container *ngIf="SelectMode === false">
            <app-toolbar></app-toolbar>
    </ng-container>

    
    <div class="column-center">
        <div class="row-center height-40" >
            <ng-container *ngIf="SelectMode === false; else elseBlock">
                <h4>Exercises</h4>
            </ng-container>
            
            <ng-template #elseBlock>
                <h4>Select one or more exercises</h4>
            </ng-template>
        </div>

        <div class="row-center height-30"> 
            <a class='ref-button'  (click)="NewExercise()">New exercise</a>
        </div>
    </div>
</div>

<div class="column-center" [ngClass]="{'main-panel-schmal': Toolbar_3_rows === true, 'main-panel-mittel': Toolbar_2_rows, 'main-panel-breit': Toolbar_1_row }" >        
    <ng-container *ngIf="UebungListeSortedByName">
        <div class="column-center mg-top-5">
            <ng-container *ngFor="let uebung of UebungListeSortedByName, index as i">
                <div class="row-start-left height-40 grid-row" [ngClass]="{'alternate-row': i % 2 === 0}">
                    <ng-container *ngIf="SelectMode">
                        <div class="column-center">
                            <mat-checkbox class="mg-5" [(ngModel)]="uebung.Selected"></mat-checkbox>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="true">
                        <div class="column-center" [ngClass]="{'exerciseName-schmal': Toolbar_3_rows === true, 'exerciseName': Toolbar_3_rows === false }">
                            <a class='exercise-button' (click)="EditExercise(uebung)">{{uebung.Name}}</a>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="true">
                        <div class="column-start-left">
                            <span class="material-symbols-outlined label-font-size-large"
                                (click)="DeleteExercise(uebung)">delete</span>
                        </div>
                    </ng-container>                    
                    <!-- <div id="deleteExerciseButton" class="column-center">
                        <a class="ref-button width-50"  (click)="DeleteExercise(uebung)">Delete</a>
                    </div> -->
                </div>
            </ng-container>
            
            <ng-container *ngIf="SelectMode">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <!-- <a  (click)="OkClickFn()" class="label-font-size-small">check</a> -->
                    <a class='ref-button'  (click)="OkClickFn()">Ok</a>
                    <a class='ref-button'  (click)="CancelClickFn()">Cancel</a>
                </div>
            </ng-container>
        </div>
    </ng-container>
</div>