#deleteExerciseButton {
    width: 100px;
    background-color: transparent;
}

#exerciseName {
    width: 250px;
    background-color: transparent;
}

.exercise-button {
	background-color: transparent;
}    

#main-panel {
    top: 135px !important;
    position: relative;
}