#deleteExerciseButton {
    width: 100px;
    background-color: transparent;
}

.exerciseName {
     background-color: transparent;
     width: 200px;
}

.exerciseName-schmal {
    @extend .exerciseName;
    width: 170px;
}

.exerciseName-mittel {
    @extend .exerciseName;
}



.exercise-button {
	background-color: transparent;
}    

.main-panel {
    position: relative;
    background-color: var(--main-content-background-color);
}

.main-panel-schmal {
    @extend .main-panel;
    top: 184px !important;
}

.main-panel-mittel {
    @extend .main-panel;
    top: 140px !important;
}

.main-panel-breit {
    @extend .main-panel;
    top: 109px !important;
}