<img src="../../../assets/icons/24x24 Free Application Icons/24x24_free_application_icons_icons_pack_120732/png/24x24/Go back.png" (click)="back()">

<div class="column-center">
    <h4>Plates</h4>
    <a class='link-button-font mg-bottom-3' mat-flat-button (click)="NeueScheibe()" >New Plate</a>

    <ng-container *ngIf="HantelscheibenListe">
        <ng-container *ngFor="let sch of HantelscheibenListe, index as i">
                <div class="row-start-left-gap-3 height-65"  [ngClass]="{'HG-01': i % 2 === 0}">
                    <div class="colum-start-left">
                        <div class="colum-start-left">
                            <mat-label>Diameter</mat-label>
                        </div>
                        <input matInput 
                        class="align-right width-75"
                        mask="99" 
                        (focusout)="SetDiameter(sch,$event)"
                        [ngModel]="sch.Durchmesser" type="text">
                    </div>
                        
                    <div class="colum-start-left">
                        <div class="colum-start-left">
                            <mat-label>Weight</mat-label>
                        </div>

                        <input matInput 
                        class="align-right width-75"
                        mask="999.00" 
                        (focusout)="SetWeight(sch,$event)"
                        [ngModel]="GetWeightText(sch)" type="text">
                    </div>                        

                    <div class="colum-start-left">
                        <div class="colum-start-left">
                            <mat-label>Count</mat-label>
                        </div>

                        <input matInput 
                        class="align-right width-75"
                        mask="9999" 
                        (focusout)="SetAnzahl(sch,$event)"
                        [ngModel]="sch.Anzahl" type="text">
                    </div>                
                
                <!-- <a id="Delete" class="ref-button" (click)="Delete(sch)">Delete</a> -->
            </div>
    </ng-container>
    
    </ng-container>
</div>

