.margin-left {
    margin-left: 3px;
}

#Anzahl{
    @extend .margin-left;
    width: 60px;
}

#Diameter{
    @extend .margin-left;    
    width: 70px;
}

#Weight{
    @extend .margin-left;    
    width: 90px;
}


#Delete{
    @extend .margin-left;    
    width: 48px;
}

#main-panel {
    top: 135px !important;
    position: relative;
}
