<mat-icon  (click)="back()">arrow_back</mat-icon>

<div class="column-center">
    <h4>Plates</h4>
    <a class='link-button-font mg-bottom-3' mat-flat-button (click)="NeueScheibe()" >New Plate</a>

    <ng-container *ngIf="HantelscheibenListe">
        <ng-container *ngFor="let sch of HantelscheibenListe, index as i">

            <div fxLayout="row wrap" fxLayoutAlign="center center" class="mg-5"  >
                <div class="row-start-left" [ngClass]="{'HG-01': i % 2 === 0}">
                    <mat-form-field id="Diameter" class="align-right">
                        <mat-label>Diameter</mat-label>
                        <input matInput 
                        class="align-right"
                        mask="99" 
                        (focusout)="SetDiameter(sch,$event)"
                        [ngModel]="sch.Durchmesser" type="text">
                    </mat-form-field>
                    
                    <mat-form-field id="Weight" class="align-right">
                        <mat-label>Weight</mat-label>
                        <input matInput 
                        class="align-right"
                        mask="999.00" 
                        (focusout)="SetWeight(sch,$event)"
                        [ngModel]="sch.Gewicht" type="text">
                    </mat-form-field>
                    
                    <mat-form-field id="Anzahl" class="align-right">
                    <mat-label>Count</mat-label>
                    <input matInput 
                    class="align-right"
                    mask="9999" 
                    (focusout)="SetAnzahl(sch,$event)"
                    [ngModel]="sch.Anzahl" type="text">
                </mat-form-field>
                
                
                <a id="Delete" class="ref-button" (click)="Delete(sch)">Delete</a>
            </div>
        </div>
    </ng-container>
    
    </ng-container>
</div>

