<img src="../../../assets/icons/24x24 Free Application Icons/24x24_free_application_icons_icons_pack_120732/png/24x24/Go back.png" (click)="back()">
<div class="column-center">
    <div class=" width-400">
        <div class="column-center">
            <h4>New/edit progress schema</h4>
        </div>

        <div class="column-center">
            <input #Name matInput [(ngModel)]="Progress.Name" maxlength="50" type="text">
        </div>

         <div class="column-center">
            <mat-label>
                <h6>Relevant sets for progress determination</h6>
            </mat-label>
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayout.lt-sm="row wrap" fxFlex="100%">
                <mat-radio-group class="tp-radio-group" [(ngModel)] = "Progress.ProgressSet">
                    <mat-radio-button class="tp-radio-button" [value]="0">First set only</mat-radio-button>
                    <mat-radio-button class="tp-radio-button" [value]="1">Last set only</mat-radio-button>
                    <mat-radio-button class="tp-radio-button" [value]="2">All sets</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>

        <div class="column-center">
            <mat-label>
                <h6>Check type</h6>
            </mat-label>
            
            <mat-radio-group class="tp-radio-group"  [(ngModel)] = "Progress.WeightCalculation">
                <mat-radio-button class="tp-radio-button" [value]="0">Sum of sets</mat-radio-button>
                <mat-radio-button class="tp-radio-button" [value]="1">Every single set</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="column-center">
                <mat-label>Additional reps</mat-label>
                <input matInput  class="align-right width-75" mask="99999" (focusout)="SetAdditionalReps($event)"
                    [ngModel]="AdditionalReps" type="text">
        </div>
    </div>
</div>    