<div class="column-center">
    <h4>Initial weights</h4>
    
    <ng-container *ngFor="let iw of InitialWeightList, index as i">
        <div class="row-start-left-gap-3 height-65" [ngClass]="{'HG-01': i % 2 === 0}">            
                <mat-label id="Name">{{iw.Name}}</mat-label>
                <!-- <mat-form-field> -->
                    <mat-label>Initial weight</mat-label>
                    <input matInput 
                        class="align-right HG-Transparent"
                        mask="999.00" 
                        (focus)="OnFocus($event)"
                        (focusout)="SetWeight(iw,$event)" 
                        (click)="onInitialWeightClick($event)" 
                        [ngModel]="iw.WeightText" 
                        type="text"
                        >
                <!-- </mat-form-field> -->
        </div>
    </ng-container>
    
    <div class="row-start-left-gap-3 mg-top-5">
        <a class='link-button-font' mat-flat-button (click)="OkClick()">Save</a>

        <a class='link-button-font' mat-flat-button (click)="CancelClick()">Cancel</a>
    </div>
</div>