    
<div class="header-box">
    <app-toolbar></app-toolbar>
    <div class="row-center">
        <div class="column-center">
            <div class="colum-center center-item height-40">
                <a [ngClass]="['link-button-font', 'HG-01']" mat-flat-button (click)="createWorkOut()">Create workout</a>
            </div>
        </div>
    </div>
</div>
<div [ngClass]="{'main-panel-schmal': Toolbar_3_rows === true, 'main-panel-mittel': Toolbar_2_rows === true, 'main-panel-breit': Toolbar_1_row === true }" class="column-center">
    <ng-container *ngIf="ViewInitDone === true">
        <ng-container *ngFor="let programm of ProgrammListe">
            <div class="colum-center">
                <mat-accordion #accordion="matAccordion" multi="true">
                    <mat-expansion-panel #panProgramm='matExpansionPanel' [expanded]="false" class="HG-01"
                        (opened)="panelOpened(programm)" (closed)="panelClosed(programm)">
                        <mat-expansion-panel-header [collapsedHeight]="programPanelHeaderHeight" [expandedHeight]="programPanelHeaderHeight"
                            class="disable_ripple" (click)="$event.stopPropagation()">
                            <mat-panel-title>
                                <div class="row-start-left-gap-3 wrap">
                                    <div class="column-start-left">
                                        <span> {{programm.Name}}</span>
                                    </div>
                                </div>

                                    <div class="row-start-left-gap-3 wrap">
                                        <div class="column-start-left width-65">
                                            <a [ngClass]="['link-button-font']" [disabled]="SelectBtnDisabled"
                                                mat-button (click)="SelectThisWorkoutClick(programm,$event)"><span
                                                    class="tc-font-size-small">Select</span></a>
                                        </div>

                                        <div class="column-start-left width-65">
                                            <a [ngClass]="['link-button-font']"
                                                (click)="EditThisWorkoutClick(programm, $event)"><span
                                                    class="tc-font-size-small">Edit</span></a>
                                        </div>

                                        <div class="column-start-left width-65">
                                            <a [ngClass]="['link-button-font']"
                                                (click)="DeleteProgramm($event,programm)"><span
                                                    class="tc-font-size-small">Delete</span></a>
                                        </div>

                                        <div class="column-start-left">
                                            <a [ngClass]="['link-button-font']"
                                                (click)="CopyProgramm($event,programm)"><span
                                                    class="tc-font-size-small">Copy</span></a>
                                        </div>
                                    </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <ng-container *ngIf="programm && programm.SessionListe">
                            <ng-container *ngFor="let sess of programm.SessionListe, index as i">
                                <div  class='mg-bottom-2'>
                                    <mat-accordion #accSession="matAccordion" multi="true">
                                        <mat-expansion-panel 
                                            [expanded]="false"
                                            #panSession='matExpansionPanel'                            
                                            (opened) = "panelSessOpened(sess)"
                                            (closed) = "panelSessClosed(sess)" 
                                            class="HG-01  pad-left-3">
                                            <mat-expansion-panel-header  class="disable_ripple" mat-tooltip-panel-below  matTooltip="Hold and drag">
                                                <input class="font-size-smaller width-100-Prozent mr-5" matInput [(ngModel)]="sess.Name" type="text" (click)="$event.stopPropagation()" (focusout)="DoSessionName(sess, $event)">
                                            </mat-expansion-panel-header>

                                            <div class="row-center-gap-5">
                                                <div class="center-item">
                                                    <a [ngClass]="['link-button-font']" (click)="CopySession(sess)">Copy Session</a>
                                                </div>
                                        
                                                <div class="center-item">
                                                    <a [ngClass]="['link-button-font']" (click)="DeleteSession($event, programm, sess,i)">Delete Session</a>
                                                </div>
                                        
                                                <div class="center-item">
                                                    <a [ngClass]="['link-button-font']" (click)="AddExercise(sess)">Add exercise</a>
                                                </div>
                                        
                                                <div class="center-item">
                                                    <a [ngClass]="['link-button-font']" (click)="PasteExcercise(sess)">Paste Exercise</a>
                                                </div>
                                            </div>
            
                                            <div [id]="'collapseSession' + i" aria-labelledby="headingOne">
                                                <div class="card-body">
                                                    <div cdkDropList (cdkDropListDropped)="dropUebung($event, sess)">
                                                        <ng-container *ngFor="let SessUeb of  sess.UebungsListe, index as j; let isOdd=odd">
                                                            <div class="row-start-left-gap-3">
                                                                <span class="font-size-smaller font-bold">#{{j+1}} {{SessUeb.Name}}</span>
                                                            </div>

                                                            <ng-container *ngIf="SessUeb.AufwaermSatzListe.length > 0">
                                                                <div class="row-start-left-gap-3">
                                                                    <ng-container *ngFor="let satz of SessUeb.AufwaermSatzListe, index as satzIndex">
                                                                        <div class="colum-center">
                                                                            <div class="column-center font-size-xsmall mg-right-3 kreisHellRot" >
                                                                                {{satz.WdhAusgefuehrtText}}
                                                                                <ng-container *ngIf="satz.AMRAP">+</ng-container>
                                                                            </div>
                                                                            
                                                                            <div class="font-size-xsmall column-center">
                                                                                <mat-label>
                                                                                    {{satz.GewichtAusgefuehrtText}}
                                                                                </mat-label>  
                                                                            </div>
                                                                        </div>
                                                                    </ng-container>
                                                                </div>
                                                            </ng-container>

                                                            <ng-container *ngIf="SessUeb.ArbeitsSatzListe.length > 0">
                                                                <div class="row-start-left-gap-3">
                                                                    <ng-container *ngFor="let satz of SessUeb.ArbeitsSatzListe, index as satzIndex">
                                                                        <div class="colum-center">
                                                                            <div class="column-center font-size-xsmall mg-right-3 kreisRot" >
                                                                                {{satz.WdhAusgefuehrtText}}
                                                                                <ng-container *ngIf="satz.AMRAP">+</ng-container>
                                                                            </div>
                                                                            
                                                                            <div class="font-size-xsmall column-center">
                                                                                <mat-label>
                                                                                    {{satz.GewichtAusgefuehrtText}}
                                                                                </mat-label>  
                                                                            </div>
                                                                        </div>
                                                                    </ng-container>
                                                                </div>
                                                            </ng-container>

                                                            <ng-container *ngIf="SessUeb.AbwaermSatzListe.length > 0">
                                                                <div class="row-start-left-gap-3">
                                                                    <ng-container *ngFor="let satz of SessUeb.AbwaermSatzListe, index as satzIndex">
                                                                        <div class="colum-center">
                                                                            <div class="column-center font-size-xsmall mg-right-3 kreisHellBlau" >
                                                                                {{satz.WdhAusgefuehrtText}}
                                                                                <ng-container *ngIf="satz.AMRAP">+</ng-container>
                                                                            </div>
                                                                            
                                                                            <div class="font-size-xsmall column-center">
                                                                                <mat-label>
                                                                                    {{satz.GewichtAusgefuehrtText}}
                                                                                </mat-label>  
                                                                            </div>
                                                                        </div>
                                                                    </ng-container>
                                                                </div>
                                                            </ng-container>
                                                        </ng-container>
                                                    </div> 
                                                </div>
                                            </div>
            
                                      
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </ng-container>
                        </ng-container>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </ng-container>
    </ng-container>
</div>