    
    <app-toolbar></app-toolbar>
    <div class="container">
        <ng-container *ngFor="let programm of ProgrammListe">
            
            <span>{{programm.Name}}</span> 
        </ng-container>
    </div>

    <!-- <div class="container">
        <p class="font-bold">Choose workout</p>
            <ng-container *ngFor="let programm of ProgrammListe">
                <app-programm01
                    [programmLadeContext]="true"  
                    [programm]="programm" 
                    [showButtons]="false" 
                    [showSaveButtons]="false">
                </app-programm01>
            </ng-container>
    </div> -->