<app-toolbar></app-toolbar>
<div class="column-center">
    <h4>Musclegroups</h4>
</div>

<div class="center-item" layout-align="center center">
    <a class='link-button-font btn btn-link' mat-flat-button (click)="NeueMuskelGruppe()">New Musclegroup</a>

</div>

<ng-container *ngIf="MuskelGruppenListe">
    <div class="column-center">
        <ng-container *ngFor="let mg of MuskelGruppenListe, index as i">
            <!-- Zeilen-Hintergrundfarbe -> [ngClass]="{'HG-01': i % 2 === 0}" -->
            <div class="row-center" [ngClass]="{'HG-01': i % 2 === 0}">
                    <div id="muscleGroupName" class="column-center">
                        <a class="HG-Transparent"  (click)="EditMuskelGruppe(mg)">{{mg.Name}}</a>
                    </div>
                    <div class="column-center width-20%-Prozent">
                        <a class="ref-button" mat-button (click)="DeleteMuskel(mg)">Delete</a>
                    </div>
            </div>
        </ng-container>
    </div>
</ng-container>