
.weight-column {
    width: 75px;
    text-align: right;
   
}

.label {
    font-size: small;
    color: gray;
}

.NumberLabel {
    font-size: small;
    height: 100%;
    padding-top: 24px;
}

.rep-column-titel {
    width: 75px;
    text-align: right;
}

.rep-column {
    width: 75px;
    text-align: right;
}

.amrap-column-titel {
    width: 32px;
    text-align: right;
}

.amrap-check-box {
    margin-top: 18px;
}

.ok-column-titel {
    width: 28px;
    text-align: right;
}

.number-column-titel {
    width: 15px;
}

.timer-column-titel {
    width: 80px;
}

.timer-column {
    width: 75px;
    text-align: right;
}


.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: rgba(0, 0, 0, 0.87);
    text-align: right;
  }