<div fxLayout="column" fxFlex="100%">
    <!-- Spalten-Titel -->
    <div fxLayout="row" fxLayoutGap="2px" fxFlex="100%">
        <ng-container *ngIf="rowNum === 0">
            <ng-container *ngIf="(sess.Kategorie02 === 4); then TitelSessionLaueft else TitelSessionLaueftNicht"></ng-container>
                <!-- Spalten-Titel waehrend des Trainings  -->
                <ng-template #TitelSessionLaueft> 
                    <div class="center-item align-right" fxLayout="column" fxFlex="25px">
                        #
                    </div>
                    <div class="center-item" fxLayout="column" fxFlex="45px">
                        Weight
                    </div>
                    <ng-container *ngIf="  (satzTyp === 'Warm up sets' && sessUebung.checkWarmUpSatzIncludedBodyWeight())
                                         ||(satzTyp === 'Work sets' && sessUebung.checkArbeitsSatzIncludedBodyWeight())
                                         ||(satzTyp === 'Cool down sets' && sessUebung.checkCoolDownSatzIncludedBodyWeight())
                                         ">
                        <div class="align-right" fxLayout="column" fxFlex="60px"></div>
                    
                    </ng-container>
                    <div class="center-item" fxLayout="column" fxFlex="40px">
                        RP.
                    </div>
                    <div class="center-item" fxLayout="column" fxFlex="33px">
                        AR.
                    </div>
                    <div class="center-item" fxLayout="column" fxFlex="22px">
                        BW
                    </div>
                    <div class="center-item" fxLayout="column" fxFlex="30px">
                        Ok
                    </div>
                </ng-template>

                <!-- Spalten-Titel, wenn kein Training laeuft  -->
                <ng-template #TitelSessionLaueftNicht> 
                    <div class="center-item align-right" fxLayout="column" fxFlex="25px">
                        #
                    </div>
                    <div class="center-item" fxLayout="column" fxFlex="45px">
                        Weight
                    </div>
                    <div class="center-item" fxLayout="column" fxFlex="60px">
                        RP.                    
                    </div>
                    <div class="center-item" fxLayout="column" fxFlex="35px">
                        AR.
                    </div>
                </ng-template>
        </ng-container>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="2px" fxFlex="100%">
        <div class="center-item align-right" fxFlex="25px">
            <mat-label>{{rowNum+1}}</mat-label>
        </div>

        <ng-container *ngIf="(sess.Kategorie02 === 4); then SessionLaueft else SessionLaueftNicht"></ng-container>
            <!-- Training laeuft -->
            <ng-template #SessionLaueft>
                <!-- Ausgefuehrtes-Gewicht -->
                    <mat-form-field class="align-right" fxFlex="45px">
                        <mat-label>{{satz.GewichtVorgabe | number: '1.2'}}</mat-label>
                        <input  matInput [textMask]="{mask: floatMask, guide: false }"
                                [ngModel]="(satz.GewichtAusgefuehrt | number: '1.2')" 
                                (focusout)="SetWeightAusgefuehrt($event)"
                                type="text">
                    </mat-form-field>

                    <ng-container *ngIf="  (satzTyp === 'Warm up sets' && sessUebung.checkWarmUpSatzIncludedBodyWeight())
                                         ||(satzTyp === 'Work sets' && sessUebung.checkArbeitsSatzIncludedBodyWeight())
                                         ||(satzTyp === 'Cool down sets' && sessUebung.checkCoolDownSatzIncludedBodyWeight())
                                          ">
                        <mat-form-field  class="align-right"fxFlex="55px">
                            <input matInput  [disabled]="true" [textMask]="{mask: floatMask, guide: false }"
                            [value]="satz.getBodyWeightText('+ ')"
                            type="text">
                        </mat-form-field>
                    </ng-container>
                <!-- Ausgefuerte Wdh. -->
                <mat-form-field class="align-right" fxFlex="40px">
                    <mat-label>{{satz.WdhVonVorgabe | number: '1.0'}} - {{satz.WdhBisVorgabe | number: '1.0'}}</mat-label>
                    <input matInput [textMask]="{mask: repMask, guide: false}" 
                           [ngModel]="satz.WdhAusgefuehrt" 
                            (focusout)="SetWdhAusgefuehrt($event)" type="text">
                </mat-form-field>
                <!-- AMRAP  -->
                <div class="center-item" layout-align="center center" fxFlex="30px">
                    <mat-checkbox [(ngModel)]="satz.AMRAP"></mat-checkbox>
                </div>
                <!-- Satz Include Bodyweight-Flag -->
                <div class="center-item" layout-align="center center" fxFlex="25px">
                    <mat-checkbox [(ngModel)]="satz.IncludeBodyweight"></mat-checkbox>
                </div>
                <!-- Satz Fertig-Flag -->
                <div class="center-item" layout-align="center center" fxFlex="25px">
                    <mat-checkbox [(ngModel)]="SatzFertig"></mat-checkbox>
                </div>
            </ng-template>

            <!-- Training laeuft nicht -->
            <ng-template #SessionLaueftNicht>
                <!-- Geplantes Vorgabe-Gewicht -->
                <mat-form-field class="align-right" fxFlex="45px">
                    <input  matInput [textMask]="{mask: floatMask, guide: false }"
                            (focusout)="SetWeightVorgabe($event)"
                            [ngModel]="satz.GewichtVorgabe | number: '1.2'" 
                            type="text"
                    >
                </mat-form-field>

                <!-- Geplante Von-Vorgabe-Wdh. -->
                <mat-form-field class="align-right" fxFlex="30px">
                    <mat-label>From</mat-label>
                    <input  matInput [textMask]="{mask: repMask, guide: false}" 
                            [ngModel]="satz.WdhVonVorgabe" 
                            (focusout)="SetVonWdhVorgabe($event)" 
                            type="text"
                    >
                </mat-form-field>

                <!-- Geplante Bis-Vorgabe-Wdh. -->
                <mat-form-field class="align-right" fxFlex="30px">
                    <mat-label>To</mat-label>
                    <input  matInput [textMask]="{mask: repMask, guide: false}" 
                            [ngModel]="satz.WdhBisVorgabe" 
                            (focusout)="SetBisWdhVorgabe($event)" 
                            type="text"
                    >
                </mat-form-field>

                <!-- AMRAP  -->
                <div class="center-item" layout-align="center center" fxFlex="35px">
                    <mat-checkbox [(ngModel)]="satz.AMRAP"></mat-checkbox>
                </div>
            </ng-template>

        <div class="center-item" layout-align="center center">
            <a [ngClass]="['link-button-font']" mat-flat-button (click)="DeleteSet()">Delete</a>
        </div>

        <div class="center-item" layout-align="center center">
            <a [ngClass]="['link-button-font']" mat-flat-button (click)="CopySet()">Copy</a>
        </div>
    </div>
</div>