
.weight-column {
    width: 65px;
    height: 100%;
    text-align: right;
}

.label {
    font-size: small;
    color: gray;
}


.rep-column-base {
    width: 50px;
    height: 100%;
    text-align: right;
}

.rep-column-titel {
    @extend .rep-column-base;
}

.rep-column {
    @extend .rep-column-base;
}

.amrap-column-titel {
    width: 32px;
    text-align: right;
}

.amrap-check-box {
    margin-top: 18px;
}

.ok-column-titel {
    width: 28px;
    text-align: right;
}

.number-column-titel {
    width: 15px;
}

.timer-column-base {
    max-width: 50px;
    width: 50px;
}

.timer-column-titel {
    @extend .timer-column-base;
    text-align: right;
}


#timer-column-button {
    width: 100%;    
    height: 20px;
}

.timer-column {
    @extend .timer-column-base;
    text-align: right;    
    height: 100%;
}


.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: rgba(0, 0, 0, 0.87);
    text-align: right;
  }