.weight-column {
    width: 100px;
    text-align: right;
   
}

.label {
    font-size: small;
    color: gray;
}

.rep-column {
    width: 75px;
    text-align: right;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: rgba(0, 0, 0, 0.87);
    text-align: right;
  }