<div fxLayout="column" fxFlex="100%">
    <!-- Spalten-Titel -->
    <div fxLayout="row" fxLayoutGap="5px" fxFlex="100%">
        <ng-container *ngIf="rowNum === 0">
            <ng-container *ngIf="(   sess.Kategorie02 === sessionStatus.Pause 
                                  || sess.Kategorie02 === sessionStatus.Laeuft 
                                  || sess.Kategorie02 === sessionStatus.Fertig
                                  || sess.Kategorie02 === sessionStatus.Wartet); then TitelNoShowPlan else TitelShowPlan"></ng-container>
                <!-- Spalten-Titel waehrend des Trainings  -->
                <ng-template #TitelNoShowPlan> 
                    <div class="column-start-left number-column-titel align-right">#</div>
                    <div class="column-start-left weight-column align-right">Weight</div>
                    <div class="column-start-left rep-column-titel align-right"  matTooltip="Reps">RP.</div>
                    <div class="column-start-left amrap-column-titel align-right"  matTooltip="As many reps as possible">AR.</div>
                    <div class="column-start-left ok-column-titel align-right">Ok</div>
                </ng-template>

                <!-- Spalten-Titel, wenn kein Training laeuft  -->
                <ng-template #TitelShowPlan> 
                    <div class="column-start-left number-column-titel align-right">#</div>
                    <div class="column-start-left weight-column align-right">Weight</div>
                    <div class="column-start-left rep-column-titel align-right"  matTooltip="Reps">RP.</div>
                    <div class="column-start-left amrap-column-titel align-right"  matTooltip="As many reps as possible">AR.</div>
                    <div class="column-start-left ok-column-titel align-right">Ok</div>
                </ng-template>
        </ng-container>
    </div>

    <div class="row-start-left-gap-3">
        <div class="center-item align-right NumberLabel" fxFlex="25px">
            <mat-label>{{rowNum+1}}</mat-label>
        </div>

        <!-- Ausgefuehrtes-Gewicht -->
        <div class="weight-column">
            <div [ngClass]="{'invisible': isVisible() === false}" class="align-right label">{{satz.GewichtVorgabeText}}</div> 
            <input  matInput 
                    mask="9999.00"
                    matTooltip="Hold to open details"
                    matTooltipPosition="above"
                    [matTooltipDisabled]="false"
                    class="align-right tc-font-size-smaller weight-column"
                    [ngModel]="satz.GewichtAusgefuehrtText" 
                    (ngModelChange)="CalcPlates($event)"
                    (focusout)="SetWeightAusgefuehrt($event)"
                    (mousedown)="MouseDown(satz,$event)"
                    (mouseup)="MouseUp($event)"
                    (touchstart)="MouseDown(satz,$event)"
                    (touchend)="MouseUp($event)"
                    [disabled]="Disabled(satz)"
                    type="text">
        </div>

        <!-- <ng-container *ngIf="  (SatzTyp === satzTyp.Aufwaermen && sessUebung.checkWarmUpSatzIncludedBodyWeight())
                                ||(SatzTyp === satzTyp.Training && sessUebung.checkArbeitsSatzIncludedBodyWeight())
                                ||(SatzTyp === satzTyp.Abkuehlen && sessUebung.checkCoolDownSatzIncludedBodyWeight())
                                ">
            <div  class="align-right">
                <mat-label>Bodyweight</mat-label>
                <input matInput  [disabled]="true" 
                [value]="satz.getBodyWeightText('+ ')"
                type="text">
            </div>
        </ng-container> -->

        <!-- Ausgefuerte Wdh. -->
        <div class="rep-column">
            <div [ngClass]="{'invisible': isVisible() === false}" class="align-right label">{{satz.WdhVonVorgabe}}</div> 
            <input matInput 
                    class="align-right tc-font-size-smaller rep-column"
                    matTooltip="Hold to open details"
                    matTooltipPosition="above"
                    [matTooltipDisabled]="false"
                    mask="9999"
                    [ngModel]="satz.WdhAusgefuehrtText" 
                    [disabled]="Disabled(satz)"
                    (click)="onClickWdhAusgefuehrt($event)" 
                    (focusout)="SetWdhAusgefuehrt($event)" 
                    (mousedown)="MouseDown(satz,$event)"
                    (mouseup)="MouseUp($event)"
                    (touchstart)="MouseDown(satz,$event)"
                    (touchend)="MouseUp($event)"
                    type="text">
        </div>
        
        <ng-container *ngIf="isVisible() === true; then running else planning"></ng-container>

        <ng-template #running>
            <!-- AMRAP  -->
            <div class="ml-10 center-item pad-top-12" fxFlex="30px">
                <mat-checkbox [disabled]="Disabled(satz)" [(ngModel)]="satz.AMRAP" 
                ></mat-checkbox>
            </div>
            <!-- Satz Include Bodyweight-Flag -->
            <!-- <div class="ml-5 center-item pad-top-12" fxFlex="25px" >
                <mat-checkbox  [disabled]="Disabled(satz)" [(ngModel)]="satz.IncludeBodyweight"></mat-checkbox>
            </div> -->
            <!-- Satz Fertig-Flag -->
            <div class="ml-5 center-item pad-top-12" fxFlex="25px">
                <mat-checkbox [(ngModel)]="SatzFertig"
                (change)="onClickSatzFertig(satz, $event)"
                ></mat-checkbox>
            </div>
        </ng-template>

        <ng-template #planning>
            <!-- AMRAP  -->
            <div class="ml-10 center-item" fxFlex="30px">
                <mat-checkbox [disabled]="Disabled(satz)" [(ngModel)]="satz.AMRAP" 
                ></mat-checkbox>
            </div>
        </ng-template>

        <div class="ml-10 center-item" [ngClass]="{'mg-top-20': programModulArt === programModul.EditWorkout || programModulArt === programModul.RunningSession || programModulArt === programModul.HistoryView}" layout-align="center center">
            <a [ngClass]="['link-button-font']" mat-flat-button (click)="DeleteSet()">Delete</a>
        </div>

        <div class="center-item" [ngClass]="{'mg-top-20': programModulArt === programModul.EditWorkout || programModulArt === programModul.RunningSession || programModulArt === programModul.HistoryView }" layout-align="center center">
            <a [ngClass]="['link-button-font']" mat-flat-button (click)="CopySet()">Copy</a>
        </div>
    </div>
</div>