<div class="colum-center pad-left-5">
    <!-- 1. Zeile -->
    <div class="ml-5 row-start-left-gap-3 height-40">
        <div class="column-start-left">Set #</div>
        <div class="column-start-left">
            <mat-label>{{rowNum+1}}</mat-label>
        </div>
    </div>
    <!-- 2. Zeile -->
    <div class="row-start-left-gap-3 height-60 mg-bottom-5">

        <div class="weight-column">
            <div class="row-start-right width-100-Prozent">
                <div class="column align-right width-100-Prozent">Weight</div>
            </div>

            <div class="row-start-right width-100-Prozent">
                <div class="column-start-left align-right width-100-Prozent">

                    <div [ngClass]="{'invisible': isVisible() === false}" class="align-right label">
                        {{satz.GewichtVorgabeText}}</div>
                        <input matInput mask="9999.00" matTooltip="Hold to open details" matTooltipPosition="above"
                        [matTooltipDisabled]="false" class="align-right tc-font-size-smaller weight-column"
                        [ngModel]="satz.GewichtAusgefuehrtText" (ngModelChange)="CalcPlates($event)"
                        (focusout)="SetWeightAusgefuehrt($event)" (mousedown)="MouseDown(satz,$event)"
                        (mouseup)="MouseUp($event)" (touchstart)="MouseDown(satz,$event)" (touchend)="MouseUp($event)"
                        [disabled]="Disabled(satz)" type="text">
                    </div>
                </div>
        </div>

        <div class="rep-column">
            <div class="row-start-right  width-100-Prozent">
                <div class="column-start-left rep-column-titel align-right width-100-Prozent" matTooltip="Reps">RP.</div>
            </div>
        
            <!-- <div class="row-start-right">
                <div [ngClass]="{'invisible': isVisible() === false}" class="align-right label  width-100-Prozent">{{satz.WdhVonVorgabe}}</div>
            </div> -->
        
            <div class="row-start-right width-100-Prozent">
                <div class="column-start-left align-right width-100-Prozent">
                    <input matInput class="align-right tc-font-size-smaller width-100-Prozent" matTooltip="Hold to open details"
                        matTooltipPosition="above" [matTooltipDisabled]="false" mask="9999" [ngModel]="satz.WdhAusgefuehrtText"
                        [disabled]="Disabled(satz)" (click)="onSelect($event)" (focusout)="SetWdhAusgefuehrt($event)"
                        (mousedown)="MouseDown(satz,$event)" (mouseup)="MouseUp($event)" (touchstart)="MouseDown(satz,$event)"
                        (touchend)="MouseUp($event)" type="text">
                </div>                    
            </div>
        </div>

    </div>
    <!-- 3. Zeile -->
    <div class="row-start-left-gap-3 height-60">
        <!-- Timer -->
        <div id="timer-column" class="width-100-Prozent">
            <!-- <div class="row-start-right">
                <span>Timer</span>
            </div> -->
            <div class="row-start-left-gap-3">
                <div class="column-start-left">
                    <div  id="timer-column-button">
                        <a mat-button class="HG-01" matTooltip="Start timer" matTooltipPosition="above"
                        (click)="StartTimer(satz)" [disabled]="TimerDisabled(satz)">{{StartTimerText}}</a>
                    </div>
                </div>
                <div class="column-start-left">
                    <input matInput id="timer-input" class="align-right tc-font-size-smaller" matTooltip="Timer seconds"
                        matTooltipPosition="above" [matTooltipDisabled]="false" mask="999999" [ngModel]="satz.TimerSeconds"
                        [disabled]="Disabled(satz)" (click)="onSelect($event)" (focusout)="SetTimerSeconds($event)"
                        (mousedown)="MouseDown(satz,$event)" (mouseup)="MouseUp($event)" (touchstart)="MouseDown(satz,$event)"
                        (touchend)="MouseUp($event)" type="text">
                </div>
            </div>
        </div>
    </div>
</div>

  