<mat-card class="tc-font-size-smaller">
    <div class="align-left" fxLayout="column" fxLayoutGap="10px">
        <h5>{{Uebung.Name}} set #{{SatzListenNr}}</h5>

        <div fxLayout="row" fxFlex="100%">
           <mat-label>Scheduled pause seconds if set was easy: {{(ScheduledPauseTimeEasy)}}</mat-label> 
        </div>            

        <div fxLayout="row" fxFlex="100%">
            <mat-label>Scheduled pause seconds if set was hard: {{ScheduledPauseTimeHard}}</mat-label> 
        </div>            

        <div fxLayout="row" fxFlex="100%">
            <h5> Pause time: {{getPauseTime("Training")}}</h5> 
        </div>            


        <div fxLayout="row" fxLayoutAlign="center center">
            <a mat-button (click)="close()"><span class="tc-font-size-small">close</span></a>
        </div>
    </div>
</mat-card>