<div cdkDrag cdkDragRootElement=".cdk-overlay-pane"  class="column-center">
    <ng-container *ngIf="data && data.fUebungsListe" >
        <div  class="column-center">
            <h2 mat-dialog-title>Select exercise</h2>
            <div class="column-center">
                <a class="ref-button" mat-flat-button
                (click)="NewButtonClick(data.fUebungsListe)">New exercise</a>
            </div>
        </div>

        <div id="UebungsListe">
            <ng-container *ngFor="let uebung of data.fUebungsListe, index as i">
                <!-- Zeilen-Hintergrundfarbe -> [ngClass]="{'HG-01': i % 2 === 0}" -->
                <div class="row-start-left width-100-Prozent" [ngClass]="{'HG-01': i % 2 === 0}">
                        <div class="column-start-left width-10-Prozent">
                            <mat-checkbox class="mg-5" [(ngModel)]="uebung.Selected"></mat-checkbox>
                        </div>
                        
                        <div class="column-center width-30-Prozent">
                            <a class="link-button-font" (click)="EditButtonClick(uebung,data.fUebungsListe)">Edit exercise</a>
                        </div>
                        
                        <div class="column-start-left">
                            <span class="mg-5">{{uebung.Name}}</span>
                        </div>
                </div>
            </ng-container>
        </div>

        <div id="UebungWaehlenFooter" class="row-center">
            <a class="ref-button" mat-flat-button (click)="OkButtonClick()">Ok</a>
            <a class="ref-button" mat-flat-button
            (click)="CancelClickFn()">Cancel</a>
        </div>
    </ng-container>
</div>