<!-- "programm" wird in Eltern-Komponente gesetzt. -->
<div *ngIf="programm" class="accordion" id="accordionProgramme">
    <mat-accordion #accordion="matAccordion" multi="true">
        <mat-expansion-panel #panProgramm='matExpansionPanel'>
            <mat-expansion-panel-header (click)="$event.stopPropagation()">
                <div fxLayout="row wrap" fxLayoutAlign="center center">
                    <div>{{programm.Name}}</div>
                    <!-- <a [ngClass]="['link-button-font']" mat-flat-button  (click)="togglePanels($event)">Open all</a> -->
                    <!-- Soll ein Work-Out gewaehlt werden? -->
                    <ng-container *ngIf="programmLadeContext; then AuswahlBlock"></ng-container>

                    <ng-template #AuswahlBlock>
                        <button class="btn btn-link" type="button" (click)="SelectThisWorkoutClick($event)">
                            <span class="tc-font-size-small">Select</span>
                        </button>

                        <!-- { path: 'programmedit', component: WorkoutFormComponent }, -->
                        <a class="nav-link" [routerLink]="['/workoutform']" (click)="EditThisWorkoutClick($event)"><span class="tc-font-size-small">Edit</span></a>
                     </ng-template>

                </div>
            </mat-expansion-panel-header>
            <div class="card-body">
                <!-- Daten an Sub-Komponente durchreichen -->
                <ng-container *ngIf="programm && programm.SessionListe">
                    <app-programm02 [programm]="programm" [SessionListe]="programm.SessionListe" [bearbeitbar]="false" [StartButtonVisible] ="false"></app-programm02>
                </ng-container>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>