<app-toolbar></app-toolbar>
<div class="container">
    <p class="font-bold">History</p>
    <app-programm02 [showButtons]="false"
                    [showSaveButtons] = "false" 
                    [programmTyp] = "'history'"
                    [SessionListe] = "SessionListe"
                    [bearbeitbar]="false"
                    [StartButtonVisible]= "true"
                    [SofortSpeichern]= "true"
                    [SessionPanelsExpanded] = "false">
    </app-programm02>
</div>