.History-Panel {
	width: 100% !important;
	overflow-y: hidden !important;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
	z-index: 1;
}

.History-Panel-schmal {
	@extend .History-Panel;
	top: 137px;
}

.History-Panel-mittel {
	@extend .History-Panel;
	top: 109px;
}


.History-Panel-breit {
	@extend .History-Panel;
	top: 63px;
}

#History-Sub-Panel {
	height: 100%;
	width: 100%;
}

#historyHeader {
	position: relative;
	background-color: var(--header-background-color);
	// background-color: var(--first-background-color);
}

#history-sessions {
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.NoSessionName {
	color: lightgray;
}

#chart-settings {
	overflow-y: hidden !important;
	position: fixed;
	width: 80%;
	top: 100px;
	z-index: 1000;
}

:host ::ng-deep .mat-radio-container{
	height: 10px;
	width: 10px;
	color: yellow;
  }
  :host ::ng-deep .mat-radio-outer-circle{
	height: 10px;
	width: 10px;
	color: yellow;
  }
  :host ::ng-deep .mat-radio-inner-circle{
	height: 10px;
	width: 10px;
	color: yellow;
  }
  :host ::ng-deep .mat-radio-button .mat-radio-ripple{
	height: 20px; /*double of your required circle radius*/
	width: 20px;  /*double of your required circle radius*/
	left: calc(50% - 10px); /*'10px'-same as your required circle radius*/
	top: calc(50% - 10px); /*'10px'-same as your required circle radius*/
	color: yellow;
  }  

  .tp-radio-group {
	color: yellow;
  }

 .tp-radio-button {
	color: yellow;
 }

 .tp-selected-value {
	color: yellow;

 }

 
// ::ng-deep .mat-form-field-label {
// 	color: red;
//   }

//   ::ng-deep .mat-form-field .mat-input-element{
// 	color: blue;
//   }

//   ::ng-deep .mat-date-range-input {
// 	color: blue;
//   }
  
//   ::ng-deep .mat-date-range-input-separator {
// 	color: blue;
//   }



//         #History-Panel {
//             height: 2400px;
//         }
//     }

//     @media screen and (max-device-height: 1366px),  (max-device-height: 1368px){
//         #History-Panel {
//             height: 1200px;
//         }

//         // #History-Sub-Panel {
//         //     height: 2250px;
//         // }
//     }

//     @media screen and (max-device-height: 1180px){
//         #History-Panel {
//             height: 1000px;
//         }
//     }

//     @media screen and (max-device-height: 1138px){
//         #History-Panel {
//             height: 1000px;
//         }
//     }

//     @media screen and (max-device-height: 1024px){
//         #History-Panel{
//             height: 900px;
//         }
//     }

//     @media screen and (max-device-height: 914px), (max-device-height: 915px){
//         #History-Panel{
//             height: 800px;
//         }
//     }

//     @media screen and (max-device-height: 740px){
//         #History-Panel{
//             height: 600px;
//         }
//     }
//     @media screen and (max-device-height: 720px){
//         #History-Panel{
//             height: 600x;
//         }
//     }
//     @media screen and (max-device-height: 640px){
//         #History-Panel{
//             height: 500x;
//         }
//     }
// }

// @media screen and (orientation: landscape){
//     @media screen and (max-device-height: 1600px){
//         #History-Panel {
//             height: 1450px;
//         }
//     }

//     @media screen and (max-device-height: 1024px){
//         #History-Panel {
//             height: 930px;
//         }
//     }

//     @media screen and (max-device-height: 912px){
//         #History-Panel {
//             height: 820px;
//         }
//     }

//     @media screen and (max-device-height: 820px){
//         #History-Panel {
//             height: 725px;
//         }
//     }

//     @media screen and (max-device-height: 800px){
//         #History-Panel {
//             height: 700px;
//         }
//     }

//     @media screen and (max-device-height: 768px){
//         #History-Panel {
//             height: 675px;
//         }
//     }

//     @media screen and (max-device-height: 712px){
//         #History-Panel {
//             height: 620px;
//         }
//     }

//     @media screen and (max-device-height: 600px){
//         #History-Panel {
//             height: 500px;
//         }
//     }

//     @media screen and (max-device-height: 412px){
//         #History-Panel {
//             height: 315px;
//         }
//     }

//     @media screen and (max-device-height: 360px){
//         #History-Panel {
//             height: 270px;
//         }
//     }
// }
