<app-toolbar></app-toolbar>
<div class="container">
    <p class="font-bold">History</p>
    <div fxLayout="row wrap" fxLayout.lt-sm="row wrap" fxLayoutGap="5px" fxLayoutAlign="flex-start center" [style.margin-top]="'5px'">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-form-field>
            <mat-label>Tip on calendar symbol</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" [(ngModel)]="fromDate" readonly>
              <input matEndDate placeholder="End date" [(ngModel)]="toDate" readonly>
            </mat-date-range-input>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </div>

    <mat-tab-group #matGroup style="width:100%;height:100%" (selectedTabChange)="onTabChanged($event)">
        <mat-tab label="Sessions">
            <app-programm02 [showButtons]="false" [showSaveButtons]="false" [programmTyp]="'history'"
                [SessionListe]="SessionListe" [bearbeitbar]="false" [StartButtonVisible]="true"
                [SofortSpeichern]="true">
            </app-programm02>
        </mat-tab>

        <mat-tab #matTabChart label="Charts">
            <div fxLayout="row wrap" fxLayout.lt-sm="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center"
                [style.margin-top]="'5px'">
                <mat-radio-group aria-label="Select a Diagram type">
                    <mat-radio-button [(ngModel)]="DiaTyp" checked="true" value="Line"
                        (change)="DiaTypChanged($event,'line')">Line</mat-radio-button>
                    <mat-radio-button class="mg-left-5" [(ngModel)]="DiaTyp" (change)="DiaTypChanged($event,'bar')"
                        value="Bars">Bars</mat-radio-button>
                </mat-radio-group>
            </div>

            <mat-accordion #accSession="matAccordion" multi="true">
                <mat-expansion-panel #ExercisesInChart class="HG-01">
                    <mat-expansion-panel-header>
                        <div fxLayout="row wrap" fxLayout.lt-sm="row wrap" fxLayoutAlign="flex-start center">
                            <div class="ml-10" fxLayout="column" fxFlex="155px">
                                <span>Chart settings</span>
                            </div>
                        </div>
                    </mat-expansion-panel-header>

                    <div fxLayout="row wrap" fxLayout.lt-sm="row wrap" fxLayoutAlign="flex-start center">
                        <ng-container *ngFor="let DiaUebung of DiaUebungsListe">
                            <div fxLayout="column" fxLayoutGap="2px" fxFlex="50">
                                <ng-container *ngIf="DiaUebung.Relevant">
                                    <mat-checkbox [(ngModel)]="DiaUebung.Visible"
                                        (change)="onClickDiaUebung(DiaUebung, $event.checked)">{{DiaUebung.UebungName}}</mat-checkbox>
                                </ng-container>

                            </div>
                        </ng-container>
                    </div>

                    <div fxLayout="row wrap" fxLayout.lt-sm="row wrap" fxLayoutAlign="center center">

                        <div class="center-item" layout-align="center center">
                            <a [ngClass]="['link-button-font', 'HG-01']" mat-flat-button (click)="Save()">Save</a>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

            <div #ChartContainer style="width:100%;">
                <ng-container *ngIf="(LineChartData.length > 0)&&(DiaTyp === 'line') ">
                    <ngx-charts-line-chart #LineChart (window:resize)="onResize($event)" [view]="[chartWidth,chartHeight]"
                        [results]="LineChartData" [xAxisLabel]="'Date'" [legendTitle]="'Exercises'" [yAxisLabel]="'Weight'"
                        [legend]="true" [showXAxisLabel]="false" [showYAxisLabel]="false" [xAxis]="true" [yAxis]="true"
                        [gradient]="false">
                    </ngx-charts-line-chart>
                </ng-container>

                <ng-container *ngIf="(BarChartData.length > 0)&&(DiaTyp === 'bar')">
                    <ng-container *ngFor="let Dia of BarChartData; index as i">
                        <div class="mg-top-2">
                            <mat-accordion #accSession="matAccordion" multi="true">
                                <mat-expansion-panel 
                                       #ExercisesInChart class="HG-01" 
                                       (opened)="OnBarChartExpanded(Dia)"
                                       (closed)="OnBarChartClosed(Dia)"
                                       [expanded]="BarChartExpanded(Dia)">
                                    <mat-expansion-panel-header>
                                        <div fxLayout="row wrap" fxLayout.lt-sm="row wrap"
                                            fxLayoutAlign="flex-start center">
                                            <div class="ml-10" fxLayout="column" fxFlex="155px">
                                                <span>{{Dia.name}}</span>
                                            </div>
                                        </div>
                                    </mat-expansion-panel-header>

                                    <ngx-charts-bar-vertical #BarChart (window:resize)="onResize($event)"
                                        [view]="[chartWidth,chartHeight]" [results]="Dia.series" [xAxisLabel]=""
                                        [legendTitle]="" [yAxisLabel]="'Weight'" [legend]="false"
                                        [showXAxisLabel]="false" [showYAxisLabel]="false" [xAxis]="true" [yAxis]="true"
                                        [customColors]="Dia.colors" [gradient]="true">
                                        <ng-template #tooltipTemplate let-model="model">
                                            {{ToolTip(Dia,model)}}
                                        </ng-template>
                                    </ngx-charts-bar-vertical>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>