<div id="editExercise" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
        <div id="editExerciseBackIcon">
            <ng-container *ngIf="fDialog === undefined; else Dialog">
                    <mat-icon  (click)="back()">arrow_back</mat-icon>
            </ng-container>
            
            <ng-template #Dialog> 
                    <mat-icon  (click)="closeDialog()">arrow_back</mat-icon>
            </ng-template>
        </div>
        <div class="colum-center width-100-Prozent">    
            <h4>New/edit exercise</h4>
        </div>

        <!-- <div class="colum-center">  -->
        <div> 
            <div  class="row-start-left">
                <div class="colum-center">
                    <div  class="row-start-left-gap-3">
                        <mat-label>Name</mat-label>
                    </div>
                    <input matInput [(ngModel)]="Uebung.Name" maxlength="30" type="text">
                </div>
            </div>

            <div class="row-start-left-gap-3 width-100-Prozent height-80">                
                <ng-container *ngIf="Uebung.EquipmentTyp === 'Barbell'; then Barbell else NoBarbell"></ng-container>
                <ng-template #Barbell>
                    <div class="colum-center width-200">
                        <mat-label>Equipment type</mat-label>
                        <mat-select [(ngModel)]="Uebung.EquipmentTyp" class="input-standards">
                            <mat-option [value]=""></mat-option>
                            <mat-option *ngFor="let equip of EquipmentListe" [value]="equip"> {{ equip }}</mat-option>
                        </mat-select>
                    </div>

                    <div class="colum-center width-200">
                        <mat-label>Barbell</mat-label>
                        <mat-select [(ngModel)]="Uebung.FkHantel"  class="input-standards">
                            <mat-option [value]="0"></mat-option>
                            <mat-option *ngFor="let h of HantelListe" [value]="h.ID"> {{ h.Name }}</mat-option>
                        </mat-select>
                    </div>
                </ng-template>

                <ng-template #NoBarbell>
                    <div class="colum-center width-200">
                        <mat-label>Equipment type</mat-label>
                        <mat-select [(ngModel)]="Uebung.EquipmentTyp" class="input-standards">
                            <mat-option [value]=""></mat-option>
                            <mat-option *ngFor="let equip of EquipmentListe" [value]="equip"> {{ equip }}</mat-option>
                        </mat-select>
                    </div>
                </ng-template>
            </div>

                <mat-label>Involved Muscle #1</mat-label>
                <mat-select [(ngModel)]="Uebung.FkMuskel01"  class="input-standards">
                    <mat-option [value]="0"></mat-option>
                    <mat-option *ngFor="let mu of MuskelListe" [value]="mu.ID"> {{ mu.Name }}</mat-option>
                </mat-select>
            
                <mat-label>Involved Muscle #2</mat-label>
                <mat-select [(ngModel)]="Uebung.FkMuskel02" class="input-standards">
                    <mat-option [value]="0"></mat-option>
                    <mat-option *ngFor="let mu of MuskelListe" [value]="mu.ID"> {{ mu.Name }}</mat-option>
                </mat-select>
            
                <mat-label>Involved Muscle #3</mat-label>
                <mat-select [(ngModel)]="Uebung.FkMuskel03" class="input-standards">
                    <mat-option [value]="0"></mat-option>
                    <mat-option *ngFor="let mu of MuskelListe" [value]="mu.ID"> {{ mu.Name }}</mat-option>
                </mat-select>
            
                <mat-label>Involved Muscle #4</mat-label>
                <mat-select [(ngModel)]="Uebung.FkMuskel04" class="input-standards">
                    <mat-option [value]="0"></mat-option>
                    <mat-option *ngFor="let mu of MuskelListe" [value]="mu.ID"> {{ mu.Name }}</mat-option>
                </mat-select>
            
                <mat-label>Involved Muscle #5</mat-label>
                <mat-select [(ngModel)]="Uebung.FkMuskel05" class="input-standards">
                    <mat-option [value]="0"></mat-option>
                    <mat-option *ngFor="let mu of MuskelListe" [value]="mu.ID"> {{ mu.Name }}</mat-option>
                </mat-select>
            
            <div class="row-start-left width-100-Prozent mg-top-5">
                    <textarea id="editExerciseDescription"  [(ngModel)]="Uebung.Beschreibung" mdInput placeholder="Notes" rows="3"  class="input-standards"
                    maxlength="10000" ></textarea>
            </div>
    
            <div class="row-center-gap-10 pad-5">
                <a class='link-button-font' mat-flat-button (click)="SaveChanges()">Save</a>
                <a class='link-button-font' mat-flat-button (click)="closeDialog()">Cancel</a>
            </div>  
    </div>
</div>