<div class="column-center">
    <div class="header-box width-280  pad-5">
        <div class="row-start-left mg-bottom-10 mg-top-5">
            <span class="material-symbols-outlined" (click)="back()">arrow_back</span>
        </div>

        <div class="row-start-left height-30">
            <h4>New/edit muscle</h4>
        </div>

        <div class="row-start-left-gap-3">
            <mat-label>Name</mat-label>
            <input #Name matInput [(ngModel)]="Muskelgruppe.Name" maxlength="30" type="text">
        </div>
    </div>
    
    <div class="main-panel colum-center width-280 pad-5">
        <div class="row-start-left">
            <md-input-container class="width-100-Prozent mg-top-5">
                <textarea id="EditMuscleDescripton" [(ngModel)]="Muskelgruppe.Bemerkung" mdInput placeholder="Notes"
                    rows="10" maxlength="1000" class="input-standards width-100-Prozent height-200"></textarea>
            </md-input-container>
        </div>

        <div class="row-center-gap-10 pad-5">
            <a class='link-button-font' mat-flat-button (click)="SaveChanges()">Save</a>
            <a class='link-button-font' mat-flat-button (click)="CancelChanges()">Cancel</a>
        </div>
    </div>
</div>