<mat-icon  (click)="back()">arrow_back</mat-icon>
<div class="column-center"> 
    <div id="EditMusclePanel" class="column-center"> 
        <h4>New/edit muscle</h4>

        <mat-form-field class="column-start-left width-100-Prozent">
            <mat-label>Name</mat-label>
            <input 
                #Name
                matInput 
                [(ngModel)]="Muskelgruppe.Name"
                maxlength="30"
                type="text"
            >
        </mat-form-field> 

        <md-input-container class="width-100-Prozent">
            <textarea id="EditMuscleDescripton" [(ngModel)]="Muskelgruppe.Bemerkung" mdInput placeholder="Notes" rows="3" maxlength="1000" class="colors-textarea width-100-Prozent"  ></textarea>
        </md-input-container>

        <div class="row-center-gap10 pad-5">
            <a class='link-button-font' mat-flat-button (click)="SaveChanges()">Save</a>
            <a class='link-button-font' mat-flat-button (click)="CancelChanges()">Cancel</a>
        </div>  

    </div>
</div>