
.cdk-overlay-pane {
	padding: 5px;	
	border-style: inset;
	border-radius: 10px;
	border-color:  rgba(0, 0, 0, 0.2);
	border-width: 1px;
	border-bottom: none;
	border-right: none;
	background-color: white;

	 box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);	
 }

 .main-panel {
    top: 135px !important;
    position: relative;
}


// @media screen and (width <= 280px) {
// 	input {
// 		font-size: 10px;
// 	  }
// }


  .body-weight-column {
	width: 44px;
  }