
.cdk-overlay-pane {
	padding: 5px;	
	border-style: inset;
	border-radius: 10px;
	border-color:  rgba(0, 0, 0, 0.2);
	border-width: 1px;
	border-bottom: none;
	border-right: none;
	background-color: white;

	 box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.2);	
 }

 .main-panel {
    position: relative;
	top: 21px;
}


// @media screen and (width <= 280px) {
// 	input {
// 		font-size: 10px;
// 	  }
// }

.base-body-weight-column {
	padding-left: 5px;
  }

  .body-weight-column {
	width: 44px;
  }

  #form-body {
	width: 100%;
	max-width: var(--max-width);
  }

  #header {
	width: 100%;
	max-width: 250px;
  }