<!-- <app-toolbar></app-toolbar> -->
<mat-icon  (click)="back()">arrow_back</mat-icon>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <h4>Bodyweight</h4>
    </div>
    
    
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <a class='link-button-font HG-01' mat-flat-button (click)="NewBodyweight()">New bodyweight</a>
    </div>

    <ng-container *ngIf="BodyweightList">
        <div class="row-start-left-gap-2">
            <div class="column-center">
                <ng-container *ngFor="let bw of BodyweightList, index as i">
                    <!-- Zeilen-Hintergrundfarbe -> [ngClass]="{'HG-01': i % 2 === 0}" -->
                    <div class="row-start-left-gap-3 pad-right-5 height-80" [ngClass]="{'HG-01': i % 2 === 0}">
                            <!-- <mat-form-field class="align-right width-100 pd-l-5"> -->
                                <div class="column-center">
                                <mat-label>Bodyweight</mat-label>
                                <input class="align-right pd-l-5 width-85" 
                                       matInput 
                                       mask="999.00" 
                                       (focusout)="SetBodyweight($event, bw)" 
                                       [ngModel]="bw.WeightTxt" 
                                       type="text">
                                </div>
                            <!-- </mat-form-field> -->

                            <!-- <mat-form-field class="align-items-right">  -->
                                <div class="column-center">
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput 
                                    type="text"
                                    [ngxMatDatetimePicker]="pickerWithActions" 
                                    [(ngModel)]="bw.Datum" 
                                    class="width-150 align-items-right" 
                                    disabled="false">
                                </div>
                                <ngx-mat-datetime-picker #pickerWithActions
                                        [showSeconds]="true"
                                        [hideTime]="false">
                                        <ngx-mat-datepicker-actions>
                                        <button mat-button ngxMatDatepickerCancel>Cancel</button>
                                        <button mat-raised-button color="primary" ngxMatDatepickerApply>Apply</button>
                                        </ngx-mat-datepicker-actions>
                                    </ngx-mat-datetime-picker>
                                <ngx-mat-datepicker-toggle matSuffix [for]="pickerWithActions"></ngx-mat-datepicker-toggle>
                            <!-- </mat-form-field> -->
                            <a class="ref-button"  (click)="DeleteBodyweight(bw)">Delete</a>
                        </div>
                        
                </ng-container>
            </div>
        </div>
    </ng-container>

