<app-toolbar></app-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="center center">
    <h4>Progress schemas</h4>
</div>

<div class="center-item" layout-align="center center">
    <a class='link-button-font btn btn-link' mat-flat-button (click)="DoNeuerProgress()">New Progress schema</a>
</div>

<ng-container *ngIf="ProgressListe">
    <div class="center-item">
        <ng-container *ngFor="let progress of ProgressListe, index as i">
            <div fxLayout="row wrap" fxLayoutGap="2px" fxFlex="100%"  [ngClass]="{'HG-01': i % 2 === 0}">
                <div fxLayout="column" fxFlex="200px" fxLayoutAlign="center start">
                    <a mat-button (click)="EditProgress(progress)">{{progress.Name}}</a>
                </div>
                <div fxLayout="column" fxFlex="20%" fxLayoutAlign="center end">
                    <a class="ref-button" mat-button (click)="DeleteProgress(progress)">Delete</a>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>
