<div class="header-box">
    <app-toolbar></app-toolbar>
    
    <div class="column-center">
        <div class="row-center height-40" >
            <h4 class="mg-top-3 ">Progress schemas</h4>
        </div>

        <div class="row-center height-30"> 
            <a class="ref-button mg-bottom-3" mat-flat-button (click)="DoNeuerProgress()">New Progress schema</a>
        </div>
    </div>
</div>

<div id="main-panel" class="column-center">
    <ng-container *ngIf="ProgressListe">
            <ng-container *ngFor="let progress of ProgressListe, index as i">
                <div class="row-start-left height-40 pad-right-5"  [ngClass]="{'alternate-row': i % 2 === 0}">
                        <div class="column-center width-300">
                            <a class="ref-button" (click)="EditProgress(progress)">{{progress.Name}}</a>
                        </div>

                        <div class="column-center mg-right-5">
                            <a class="ref-button" (click)="DeleteProgress(progress)">Delete</a>
                        </div>
                </div>
            </ng-container>
        </ng-container>
</div>
