<mat-card class="tc-font-size-smaller overlay-width">
    <!-- <p class="tc-font-size-smaller"><span class="font-bold">Start</span> {{sess.GestartedWann | date: 'mediumDate'}} {{sess.GestartedWann | date:'shortTime'}}</p>
        <p class="tc-font-size-smaller"><span class="font-bold">Body weight at start</span> {{sess.BodyWeight | number: '1.2'}}</p>
        <p class="tc-font-size-smaller"><span class="font-bold">Weight lifted</span> {{sess.LiftedWeight | number: '1.2'}}</p>
        <p class="tc-font-size-smaller"><span class="font-bold">Duration</span> {{sess.DauerFormatted}}</p> -->
    <div class="align-left" fxLayout="column">
        <div fxLayout="row wrap" fxFlex="100%">
            <h4>{{SessUeb.Name}}</h4>
        </div>

        <div fxLayout="row wrap" fxFlex="100%">
            <div layout-align="start" layout-margin>
                <mat-checkbox [(ngModel)]="SessUeb.WarmUpVisible" (click)="$event.stopPropagation()">Show Warmup
                </mat-checkbox>
            </div>
        </div>

        <div fxLayout="row" fxFlex="100%">
            <div layout-align="start" layout-margin>
                <mat-checkbox [(ngModel)]="SessUeb.CooldownVisible" (click)="$event.stopPropagation()">Show Cooldown
                </mat-checkbox>
            </div>
        </div>

        <div fxLayout="row" fxFlex="100%">
            <div layout-align="start" layout-margin>
                <mat-checkbox [(ngModel)]="SessUeb.IncludeWarmupWeight" (click)="$event.stopPropagation()">Add
                    Warmup-Weight
                </mat-checkbox>
            </div>
        </div>

        <div fxLayout="row" fxFlex="100%">
            <div layout-align="start" layout-margin>
                <mat-checkbox [(ngModel)]="SessUeb.IncludeCoolDownWeight" (click)="$event.stopPropagation()">Add
                    Cooldown-Weight
                </mat-checkbox>
            </div>
        </div>

        <mat-form-field class="mg-5">
            <mat-label>Progression schema</mat-label>
            <mat-select [(ngModel)]="SessUeb.FkProgress">
                <mat-option [value]="0"></mat-option>
                <mat-option *ngFor="let progress of ProgressListe" [value]="progress.ID"> {{ progress.Name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <div fxLayout="row" fxFlex="100%">
            <mat-form-field class="align-right" fxFlex="90%">
                <mat-label>Weight progression</mat-label>
                <input matInput [textMask]="{mask: floatMask, guide: false }"
                    [ngModel]="(SessUeb.GewichtSteigerung | number: '1.2')" (focusout)="SetGewichtSteigerung($event)"
                    type="text">
            </mat-form-field>
        </div>

        <div fxLayout="row" fxFlex="100%">
            <mat-form-field class="align-right" fxFlex="90%">
                <mat-label>Weight reduction</mat-label>
                <input matInput [textMask]="{mask: floatMask, guide: false }"
                    [ngModel]="(SessUeb.GewichtReduzierung | number: '1.2')" (focusout)="SetGewichtReduzierung($event)"
                    type="text">
            </mat-form-field>
        </div>



        <div fxLayout="row" fxLayoutAlign="center center">
            <a mat-button (click)="close()"><span class="tc-font-size-small">close</span></a>
        </div>
    </div>
</mat-card>