<mat-card class="tc-font-size-smaller overlay-width">
    <div class="align-left" fxLayout="column">
        <div fxLayout="row wrap" fxFlex="100%">
            <h4>{{SessUeb.Name}}</h4>
        </div>
        
        <mat-tab-group>
            <mat-tab  label="Visibilities">
                <div class="align-left mg-top-5" fxLayout="column" fxLayoutGap="5px">
                    <div fxLayout="row wrap" fxFlex="100%">
                        <div layout-align="start" layout-margin>
                            <mat-checkbox [(ngModel)]="SessUeb.WarmUpVisible" (click)="$event.stopPropagation()">Show Warmup
                            </mat-checkbox>
                        </div>
                    </div>
        
                    <div fxLayout="row" fxFlex="100%">
                        <div layout-align="start" layout-margin>
                            <mat-checkbox [(ngModel)]="SessUeb.CooldownVisible" (click)="$event.stopPropagation()">Show Cooldown
                            </mat-checkbox>
                        </div>
                    </div>
        
                    <div fxLayout="row" fxFlex="100%">
                        <div layout-align="start" layout-margin>
                            <mat-checkbox [(ngModel)]="SessUeb.IncludeWarmupWeight" (click)="$event.stopPropagation()">Add
                                Warmup-Weight
                            </mat-checkbox>
                        </div>
                    </div>
        
                    <div fxLayout="row" fxFlex="100%">
                        <div layout-align="start" layout-margin>
                            <mat-checkbox [(ngModel)]="SessUeb.IncludeCoolDownWeight" (click)="$event.stopPropagation()">Add
                                Cooldown-Weight
                            </mat-checkbox>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Progression">
                <div class="align-left mg-top-5" fxLayout="column" fxLayoutGap="5px">
                    <mat-form-field>
                        <mat-label>Progression schema</mat-label>
                        <mat-select [(ngModel)]="SessUeb.FkProgress">
                            <mat-option [value]="0"></mat-option>
                            <mat-option *ngFor="let progress of ProgressListe" [value]="progress.ID"> {{ progress.Name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <div fxLayout="row" fxFlex="100%">
                        <mat-form-field class="align-right" fxFlex="90%">
                            <mat-label>Weight progression</mat-label>
                            <input matInput [textMask]="{mask: floatMask, guide: false }"
                                [ngModel]="(SessUeb.GewichtSteigerung | number: '1.2')" (focusout)="SetGewichtSteigerung($event)"
                                type="text">
                        </mat-form-field>
                    </div>
        
                    <div fxLayout="row" fxFlex="100%">
                        <mat-form-field class="align-right" fxFlex="90%">
                            <mat-label>Weight reduction</mat-label>
                            <input matInput [textMask]="{mask: floatMask, guide: false }"
                                [ngModel]="(SessUeb.GewichtReduzierung | number: '1.2')" (focusout)="SetGewichtReduzierung($event)"
                                type="text">
                        </mat-form-field>
                    </div>
        
                    <div fxLayout="row" fxFlex="100%">
                        <mat-form-field class="align-right" fxFlex="90%">
                            <mat-label>Fail count</mat-label>
                            <input matInput [textMask]="{mask: Int3DigitMask, guide: false }"
                                [ngModel]="(SessUeb.FailCount | number: '1.0')" (focusout)="SetFailCount($event)"
                                type="text">
                        </mat-form-field>
                    </div>        
                </div>
            </mat-tab>

            <mat-tab label="Pause">
                <div class="align-left mg-top-5" fxLayout="column" >
                    <div fxLayout="row" fxFlex="100%">
                        <mat-form-field class="align-right" fxFlex="90%">
                            <mat-label>Pause seconds between last warm up and first work set</mat-label>
                            <input matInput
                                [textMask]="{mask: Int3DigitMask, guide: false }"
                                [ngModel]="(SessUeb.AufwaermArbeitsSatzPause | number: '1.0')" (focusout)="SetAufwaermArbeitsSatzPause($event)"
                                type="text">
                        </mat-form-field>
                    </div>        

                    <div fxLayout="row" fxFlex="100%">
                        <mat-form-field class="align-right" fxFlex="90%">
                            <mat-label>Pause seconds between sets if last set was easy</mat-label>
                            <input matInput
                                [textMask]="{mask: Int3DigitMask, guide: false }"
                                [ngModel]="(SessUeb.ArbeitsSatzPause1 | number: '1.0')" (focusout)="SetArbeitsSatzPause1($event)"
                                type="text">
                        </mat-form-field>
                    </div>    
                    
                    <div fxLayout="row" fxFlex="100%">
                        <mat-form-field class="align-right" fxFlex="90%">
                            <mat-label>Pause seconds between sets if last set was hard</mat-label>
                            <input matInput
                                [textMask]="{mask: Int3DigitMask, guide: false }"
                                [ngModel]="(SessUeb.ArbeitsSatzPause2 | number: '1.0')" (focusout)="SetArbeitsSatzPause2($event)"
                                type="text">
                        </mat-form-field>
                    </div>    
                    
                    <div fxLayout="row" fxFlex="100%">
                        <mat-form-field class="align-right" fxFlex="90%">
                            <mat-label>Pause seconds between last excercise set and first set of next exercise</mat-label>
                            <input matInput
                                [textMask]="{mask: Int3DigitMask, guide: false }"
                                [ngModel]="(SessUeb.NaechsteUebungPause | number: '1.0')" (focusout)="SetNextExercisePause($event)"
                                type="text">
                        </mat-form-field>
                    </div>        
                </div>
            </mat-tab>
        
            <div fxLayout="row" fxLayoutAlign="center center">
                <a mat-button (click)="close()"><span class="tc-font-size-small">close</span></a>
            </div>
        </mat-tab-group>
    </div>
</mat-card>