<img src="../../../assets/icons/24x24 Free Application Icons/24x24_free_application_icons_icons_pack_120732/png/24x24/Go back.png" (click)="back()">

<div class="column-center" >
    <h4>Barbells</h4>
    <a class='link-button-font mg-bottom-3' mat-flat-button (click)="NeueHantel()" >New barbell</a>

    <ng-container *ngIf="HantelListe">
        <ng-container *ngFor="let Hantel of HantelListe, index as i">
                <div class="row-start-left-gap-3 height-65" [ngClass]="{'HG-01': i % 2 === 0}">
                    <div class="colum-start-left">
                        <div class="colum-start-left">
                            <mat-label>Name</mat-label>
                        </div>
                        <input matInput [(ngModel)]="Hantel.Name" maxlength="50" type="text">
                    </div>
                        
                    <div class="colum-start-left">
                        <div class="colum-start-left">
                            <mat-label>Diameter</mat-label>
                        </div>

                        <input 
                        matInput 
                        class="align-right width-75"
                        mask="99" 
                        (focusout)="SetDiameter(Hantel,$event)"  
                        [ngModel]="Hantel.Durchmesser"
                        type="text">
                    </div>

                    <div class="colum-start-left">
                        <div class="colum-start-left">
                            <mat-label>Weight</mat-label>
                        </div>

                        <input 
                            matInput 
                            mask="999.00"
                            class="align-right width-75"
                            [ngModel]="Hantel.GewichtText"
                            (focusout)="SetGewicht(Hantel,$event)"  
                            type="text">
                    </div>

                    <a id="Delete" class="ref-button" (click)="Delete(Hantel)">Delete</a>
                </div>
        </ng-container>
    </ng-container>
</div>

    