<mat-icon  (click)="back()">arrow_back</mat-icon>

<div fxLayout="row wrap" fxLayoutAlign="center center">
    <h4>Barbells</h4>
</div>

<ng-container *ngIf="HantelListe">
    <ng-container *ngFor="let Hantel of HantelListe">
        <div fxLayout="row wrap" fxLayoutAlign="center center" >
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="2px" fxFlex="100%">
                <mat-form-field class="align-left" fxFlex="65%">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="Hantel.Name" maxlength="50" type="text">
                </mat-form-field>

                <mat-form-field class="align-right" fxFlex="14%">
                    <mat-label>Diameter</mat-label>
                    <input matInput [textMask]="{mask: Int2DigitMask, guide: false }" [ngModel]="Hantel.Durchmesser"
                        type="text">
                </mat-form-field>

                <a class='link-button-font' mat-flat-button (click)="Delete(Hantel)">Delete</a>
            </div>


            <!-- <div fxLayout="row wrap" fxLayoutGap="2px" fxFlex="100%"></div> -->

        </div>
    </ng-container>

    <app-data-store-buttons [SaveClick]="SaveChanges" [CancelClick]="CancelChanges" [ClickData]="this"></app-data-store-buttons>
</ng-container>

