<mat-card class="tc-font-size-smaller overlay-width">
    <div class="align-left" fxLayout="column">
        <h5>{{Uebung.Name}} {{SatzNr}}</h5>
        <div fxLayout="row" fxFlex="100%">
            <mat-form-field class="align-right" fxFlex="60%">
                <mat-label>Weight</mat-label>
                <input matInput [textMask]="{mask: floatMask, guide: false }"
                [ngModel]="(Satz.GewichtAusgefuehrt | number: '1.2')" 
                (focusout)="SetWeightVorgabe($event)"
                (ngModelChange)="CalcPlates($event)"
                type="text">
            </mat-form-field>

            <div class="mg-5" layout-align="end" layout-margin>
                <mat-checkbox 
                [(ngModel)]="SetForAllSets" (click)="$event.stopPropagation()"
                (change)="DoWeightAllSets($event.checked)"

                >All sets
                </mat-checkbox>
            </div>
        </div>
        
        <div fxLayout="row" fxFlex="100%">
            <mat-form-field fxFlex="60%">
                <mat-label>Barbell</mat-label>
                <mat-select 
                    [(ngModel)]="Satz.FkHantel"
                    (selectionChange)="CalcPlates()"
                    >
                    <mat-option [value]="0"></mat-option>
                    <mat-option *ngFor="let h of HantelListe" [value]="h.ID"> {{ h.Name }}</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="mg-5" layout-align="end" layout-margin>
                <mat-checkbox 
                [(ngModel)]="HantelForAllSets" (click)="$event.stopPropagation()"
                (change)="DoHantelAllSets($event.checked)"
                >All sets
                </mat-checkbox>
            </div>
        </div>

        <ng-container *ngIf="PlateList.length > 0">
            <div fxLayout="row" fxFlex="100%">
                <mat-label>Plates per side</mat-label>
            </div>

            <ng-container *ngFor="let hs of PlateList">
                <div fxLayout="row" fxFlex="100%">
                    <mat-label>{{hs.Anzahl / 2}} x {{hs.Gewicht}}</mat-label>
                </div>
            </ng-container>
        </ng-container>

        
        <container *ngIf="JustTheBar === true; else PlateListlength">
            <mat-label>Just the bar</mat-label>
        </container>
        
        <ng-template #PlateListlength>
            <container *ngIf="PlateList.length < 1">
                <mat-label>Can not determine plates!</mat-label>
            </container>
        </ng-template>

        <div fxLayout="row" fxLayoutAlign="center center">
            <a mat-button (click)="close()"><span class="tc-font-size-small">close</span></a>
        </div>
    </div>
</mat-card>