<ng-container *ngIf="session">
    <div class="colum-center width-100-Prozent">        
        <div id="programm03">
            
            <!-- <ng-container *ngIf='ModulTyp === programModul.HistoryView'>  
                <div class="column-start-left">
                    <span>{{ProgrammName}}</span>
                </div>
                <div class="column-start-left">
                    <span>{{session.Name}}</span>
                </div>
            </ng-container> -->
            <div class="colum-center width-280" [ngClass]="{'header-programm20': ModulTyp === programModul.RunningSession, 'header-programm65': ModulTyp === programModul.HistoryView}"  >
                <ng-container *ngIf="ModulTyp === programModul.HistoryView">                    
                    <div class="row-start-left-gap-3">
                        <div class="column-start-left">
                            <span class="tc-font-size-smaller width-100-Prozent">{{session.Name}}</span>
                        </div> 
                        <div class="column-start-left">
                            <span class="tc-font-size-smaller width-100-Prozent">{{GestartedWannText}}</span>
                        </div>
                    </div>
                </ng-container>  
                        
                <!-- <ng-container *ngIf="StatsButtonVisible">
                    <a [ngClass]="['link-button-font', 'HG-01']" mat-flat-button (click)="DoStatsFn()">Info</a>
                </ng-container> -->
                
                <a [ngClass]="['link-button-font', 'HG-01']" mat-flat-button (click)="toggleUebungen()">{{ToggleButtonText}}</a>
            </div> 


            <!-- <div class="colum-center width-100-Prozent programm40Body"  >         -->
            <div class="colum-center width-100-Prozent" [ngClass]="{'Running-Session-Body': ModulTyp === programModul.RunningSession, 'History-Session-Body': ModulTyp === programModul.HistoryView}" >        
                <div cdkDropList (cdkDropListDropped)="drop($event)">
                    <ng-container *ngFor="let SessUeb of  UebungsListe, index as i; let isOdd=odd">
                        <div  cdkDrag [cdkDragDisabled]="ModulTyp === programModul.History">
                            <mat-accordion #accUebung='matAccordion' multi="true">
                                <mat-expansion-panel  id="my-component-name-style-container"
                                    #panUebung='matExpansionPanel' 
                                    [expanded]="false"
                                    [disabled]="checkingSets"
                                    (closed)="PanelUebungClosed(SessUeb)" 
                                    (opened)="PanelUebungOpened(i,SessUeb)">
                                    <mat-expansion-panel-header class="disable_ripple width-280"  [collapsedHeight]="'auto'" [expandedHeight]="'auto'"[matTooltipDisabled]="ModulTyp === programModul.History" mat-tooltip-panel-below  matTooltip="Hold and drag" >
                                        <div fxLayout="row wrap" fxLayoutGap="2px" fxLayout.lt-sm="row wrap" fxFlex="auto">
                                            <div layout-align="start center" fxFlex="0 0 35%">
                                                <span class="tc-font-size-smaller font-bold">#{{i+1}} {{SessUeb.Name}}</span>
                                            </div>
                                            
                                            <div class="row-start-left">
                                                <ng-container *ngIf="ModulTyp === programModul.RunningSession || ModulTyp === programModul.EditWorkout || ModulTyp === programModul.SelectWorkoutEdit">
                                                    <div class="column-center"><a [ngClass]="['link-button-font', 'HG-01']" mat-flat-button fxFlex="60px" (click)="DoSettings(SessUeb, $event)">Settings</a></div>
                                                    <div class="column-center"><a [ngClass]="['link-button-font', 'HG-01']" mat-flat-button fxFlex="85px" (click)="CopyExcercise(SessUeb, $event)">Copy exercise</a></div>
                                                    <div class="column-center"><a [ngClass]="['link-button-font', 'HG-01']" mat-flat-button (click)="DeleteExercise(i+1,SessUeb,$event)">Delete Exercise</a></div>
                                                </ng-container>
                                                
                                                <div class="row-start-left">
                                                    <div class="column-center">Weight {{SessUeb.LiftedWeightText}} {{GewichtsEinheit}} - Reps {{SessUeb.SummeWDH()}}</div>
                                                    <ng-container *ngIf="AlleFertig(SessUeb)">
                                                        <div class="column-center mg-left-10 mg-bottom-10">
                                                            <img   src="./../../../assets/icons/24x24 Free Application Icons/24x24_free_application_icons_icons_pack_120732/png/24x24/Apply.png"/>
                                                        </div>
                                                    </ng-container>
                                                </div>

                                                <ng-container *ngIf="ModulTyp === programModul.SelectWorkoutEdit && programm.ProgrammKategorie !== programmKategorie.Vorlage || ModulTyp === programModul.HistoryView">
                                                    <div class="column-center"><a [ngClass]="['link-button-font', 'HG-01']" mat-flat-button (click)="DeleteExercise(i+1,SessUeb,$event)">Delete Exercise</a></div>
                                                </ng-container>
                                                

                                            </div>
                                            
                                        </div>
                                    </mat-expansion-panel-header>
            
                                    <div class="card-body">
                                        <ng-container *ngIf="SessUeb.Expanded === true" >
                                            <div fxLayout="column" fxLayoutGap="2px" fxFlex="auto">
                                                <ng-container *ngIf="satzTypVisible(SessUeb, satzTyp.Aufwaermen)">
                                                    <app-sess-uebung 
                                                        [panUebung1]="panUebung"
                                                        [rowNum]="i" 
                                                        [satzArt]="satzTyp.Aufwaermen"
                                                        [satzListe]="SessUeb.AufwaermSatzListe"
                                                        [session]="session"
                                                        [DeletedSatzList]="DeletedSatzList"
                                                        [programm]="programm"
                                                        [programmModulArt]="ModulTyp"
                                                        [sessUebung]="SessUeb" 
                                                        [bearbeitbar]="bearbeitbar">
                                                    </app-sess-uebung>
                                                </ng-container>
                
                                                <ng-container *ngIf="SessUeb.ArbeitsSatzListe">
                                                    <app-sess-uebung 
                                                        [panUebung1]="panUebung" 
                                                        [rowNum]="i" 
                                                        [satzArt]="satzTyp.Training"
                                                        [satzListe]="SessUeb.ArbeitsSatzListe"
                                                        [session]="session"
                                                        [programm]="programm"
                                                        [DeletedSatzList]="DeletedSatzList"
                                                        [programmModulArt]="ModulTyp"
                                                        [sessUebung]="SessUeb" 
                                                        [bearbeitbar]="bearbeitbar">
                                                    </app-sess-uebung>
                                                </ng-container>
                
                                                <ng-container *ngIf="satzTypVisible(SessUeb, satzTyp.Abkuehlen)">
                                                    <app-sess-uebung 
                                                        [panUebung1]="panUebung"
                                                        [rowNum]="i"
                                                        [satzArt]="satzTyp.Abkuehlen"
                                                        [satzListe]="SessUeb.AbwaermSatzListe"
                                                        [programm]="programm"
                                                        [DeletedSatzList]="DeletedSatzList"
                                                        [session]="session" 
                                                        [programmModulArt]="ModulTyp"
                                                        [sessUebung]="SessUeb" 
                                                        [bearbeitbar]="bearbeitbar">
                                                    </app-sess-uebung>
                                                </ng-container>
                                            </div>
                                        </ng-container>    
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </ng-container>
                </div>    
            </div>
        </div>
    </div>
</ng-container>