<ng-container *ngIf="session && session.UebungsListe && (session.UebungsListe.length > 0)">
    <a [ngClass]="['link-button-font', 'HG-01']" mat-flat-button (click)="toggleUebungen()">{{ToggleButtonText}}</a>
    <!-- <span class="mg-5">{{session.Name}}</span> -->
    <ng-container *ngIf='bearbeitbar'> 
        <mat-form-field class="mg-5">
            <input class="font-size-smaller font-bold" matInput [(ngModel)]="session.Name" maxlength="30" type="text">
        </mat-form-field>
    </ng-container> 

    <!-- <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let sess of SortedSessionListe, index as i" cdkDrag cdkDragRootElement="accSession"> -->

    <div cdkDropList  (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let SessUeb of UebungsListe, index as i; let isOdd=odd">
            <!-- <ng-container [SessUeb]="SessUeb"></ng-container> -->
            <div class="mg-top-5"  cdkDrag >
                <mat-accordion #accUebung='matAccordion' multi="true">
                    <mat-expansion-panel 
                        #panUebung='matExpansionPanel' 
                        [expanded]="SessUeb.Expanded && SessUeb.SatzListe.length > 0"
                        (closed)="PanelUebungClosed(SessUeb)" 
                        (opened)="PanelUebungOpened(SessUeb)">
                        <mat-expansion-panel-header>
                            <div fxLayout="row wrap" fxLayoutGap="2px" fxLayout.lt-sm="row wrap" fxFlex="100%">
                                <div layout-align="start center" fxFlex="0 0 50%">
                                    <h6 flex>#{{i+1}} {{SessUeb.Name}}</h6>
                                </div>

                                <a [ngClass]="['link-button-font', 'HG-01']" mat-flat-button
                                    (click)="DoSettings(SessUeb, $event)">Settings
                                </a>
                                
                                <ng-container *ngIf="bearbeitbar && programmTyp !== 'history'">
                                    <a  [ngClass]="['link-button-font', 'HG-01']" mat-flat-button
                                        (click)="CopyExcercise(SessUeb, $event)">Copy exercise</a>

                                    <a [ngClass]="['link-button-font', 'HG-01']" mat-flat-button
                                        (click)="DeleteExercise(i+1,SessUeb,$event)">Delete Exercise</a>
                                </ng-container>

                            </div>
                        </mat-expansion-panel-header>

                        <div class="card-body">
                            <div fxLayout="column" fxLayoutGap="2px" fxFlex="100%">
                                <ng-container *ngIf="SessUeb.AufwaermSatzListe && SessUeb.WarmUpVisible">
                                    <app-sess-uebung [panUebung1]=panUebung [rowNum]="i" [satzTypText]="'Warm up sets'"
                                        [satzListe]="SessUeb.AufwaermSatzListe" 
                                        [session]="session"
                                        [DeletedSatzList]="DeletedSatzList"
                                        [programm]="programm"
                                        [programmTyp]="programmTyp"
                                        [sessUebung]="SessUeb" 
                                        [bearbeitbar]="bearbeitbar">
                                    </app-sess-uebung>
                                </ng-container>

                                <ng-container *ngIf="SessUeb.ArbeitsSatzListe">
                                    <app-sess-uebung [panUebung1]=panUebung [rowNum]="i" [satzTypText]="'Work sets'"
                                        [satzListe]="SessUeb.ArbeitsSatzListe" 
                                        [session]="session"
                                        [programm]="programm"
                                        [DeletedSatzList]="DeletedSatzList"
                                        [programmTyp]="programmTyp"
                                        [sessUebung]="SessUeb" 
                                        [bearbeitbar]="bearbeitbar">
                                    </app-sess-uebung>
                                </ng-container>

                                <ng-container *ngIf="SessUeb.AbwaermSatzListe  && SessUeb.CooldownVisible">
                                    <app-sess-uebung [panUebung1]=panUebung [rowNum]="i"
                                        [satzTypText]="'Cool down sets'"
                                        [satzListe]="SessUeb.AbwaermSatzListe"
                                        [programm]="programm"
                                        [DeletedSatzList]="DeletedSatzList"
                                        [session]="session" 
                                        [programmTyp]="programmTyp"
                                        [sessUebung]="SessUeb" [
                                        bearbeitbar]="bearbeitbar">
                                    </app-sess-uebung>
                                </ng-container>

                                <!-- <ng-container *ngIf="bearbeitbar">
                                    <div fxLayout="row wrap" fxLayout.lt-sm="row wrap" fxLayoutAlign="center">
                                        <div class="center-item" layout-align="center center">
                                            <a [ngClass]="['link-button-font']" mat-flat-button
                                                (click)="CopyExcercise(SessUeb)">Copy exercise</a>
                                        </div>

                                        <div class="center-item" layout-align="center center">
                                            <a [ngClass]="['link-button-font']" mat-flat-button
                                                (click)="DeleteExercise(i+1,SessUeb)">Delete Exercise</a>
                                        </div>
                                    </div>
                                </ng-container> -->
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </ng-container>
    </div>
</ng-container>
