.odd  {   background-color: #e0f1ff;}
.even {   background-color: #ffffff; }
  
  

.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}  

.mat-expansion-panel-header {
    padding: 5px;
}

#programm03 {
    min-width: 600px !important;
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;

}

#header {
    // position: fixed; 
    height: 100px !important; 
    // top: 100px; 
    z-index: 1000;
    background-color: white;
}

.programm03Body {
    position: relative; 
    z-index: 1;
}

.top-70 {
    @extend .programm03Body;
    top:70px;
}