.odd  {   background-color: #e0f1ff;}
.even {   background-color: #ffffff; }
  
  

.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}  

.mat-expansion-panel-header {
    padding: 5px;
}

#programm03 {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    width: 100% !important;
}

.header-programm03 {
    position: fixed; 
    z-index: 1000;
    top: 69px;
    background-color: white;
}

.header-HistoryView {
    @extend .header-programm03;
    width: 100%;
    height: 65px !important; 
}

.header-RunningSession {
    @extend .header-programm03;
    height: 23px !important; 
}

.programm03Body {
    position: relative; 
    z-index: 1;
}

.programm100Body {
    @extend .programm03Body;
    top: 100px;
}

.session-header {
    position: relative;
    top: 53px;
}


.Running-Session-Body {
    @extend .programm03Body;
    top: 50px;
}

.History-Session-Body {
    @extend .programm03Body;
    top: 41px;
}

.toggle-sessions-HistoryView {
    margin-left:-5px;
}

#UebungName {
    background-image: linear-gradient(lightblue,white,lightblue);
    border-radius: 5px; 
    border-width: 1px;
    font-size: 14px;
    color: blue;
    width: 100%;
    height: 25px;
    padding-top: 4px;
    padding-left: 4px;
}



mat-expansion-panel {
    width: 100%;
  }

  mat-panel-title,
mat-panel-description,
span {
  display: block;
}


div.mat-expansion-panel-body {
    padding-left: 1px;
    padding-right: 1px;
  }