.odd  {   background-color: #e0f1ff;}
.even {   background-color: #ffffff; }
  
  

.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}  

.mat-expansion-panel-header {
    padding: 5px;
}

#programm03 {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    width: 100% !important  
}

#header {
    // position: fixed; 
    height: 75px !important; 
    // top: 100px; 
    z-index: 1000;
    background-color: white;
}

.programm03Body {
    position: relative; 
    z-index: 1;
}

.top-70 {
    @extend .programm03Body;
    top:70px;
}

mat-expansion-panel {
    width: 100%;
  }

  mat-panel-title,
mat-panel-description,
span {
  display: block;
}


div.mat-expansion-panel-body {
    padding-left: 1px;
    padding-right: 1px;
  }