<ng-container *ngIf="isVisible">
    <mat-toolbar>
        <mat-toolbar-row>
                <div>
                    <a mat-button (click)="NavCheckFn? NavCheckFn('',Data) : NavHome()"  [ngClass]="{ 'font-bold': getActiveItem === activeItem.Home}">Upcoming sessions</a>
                    <a mat-button (click)="NavCheckFn? NavCheckFn('/programmwaehlen',Data) : NavProgrammWaehlen()" [ngClass]="{ 'font-bold': getActiveItem === activeItem.Programmwaehlen}">Select Workout</a>
                    <a mat-button (click)="NavCheckFn? NavCheckFn('/app-history',Data) : NavHistory()" [ngClass]="{ 'font-bold': getActiveItem === activeItem.History}">History</a>
                    <a mat-button (click)="NavCheckFn? NavCheckFn('/settings',Data) : NavSettings()" [ngClass]="{ 'font-bold': getActiveItem === activeItem.Settings}">Settings</a>
                </div>
        </mat-toolbar-row>
    </mat-toolbar>
</ng-container>