
<div cdkDrag cdkDragRootElement=".cdk-overlay-pane">
<img *ngIf="data.typ === 'Hinweis'" src="../../../assets/icons/iconfinder_preferences-desktop-notification_8802.png"
    style="object-fit: cover; height: 50px; width: 50px;">

<img *ngIf="data.typ === 'Frage'" src="../../../assets/icons/system_help.png"
    style="object-fit: cover; height: 50px; width: 50px;">
        
<div mat-dialog-actions layout="row"
    style="display: block; text-align: center; margin: auto; width: 100%; padding-top: 1em; padding-bottom: 1em;">
    <div style="text-align: center; padding-top: 1em; padding-bottom: 1em;">
        <div *ngFor="let txt of data.textZeilen ">
            <h6>{{txt}}</h6>
        </div>
    </div>
    <button mat-raised-button (click)="onOkClick()"><img src="../../../assets/icons/accept.png"
            style="object-fit: cover; height: 25x; width: 25px;"></button>

    <button *ngIf="data.typ === 'Frage'" mat-raised-button (click)="onCancelClick()"><img
            src="../../../assets/icons/cancel.png"
            style="object-fit: cover; height: 25x; width: 25px;"></button>
</div>
</div>
