<div class="column-center ml-10 mr-10">
    <div id="form-body" class="colum-center">
        <div class="column-center header">
            <div class="row-start-left-gap-5 header-line">
                <ng-container *ngIf="BackButtonVisible === true">
                    <div class="column-start-left">
                        <span class="material-symbols-outlined label-font-size-large" (click)="back()">arrow_back</span>
                    </div>
                </ng-container>

                <ng-container *ngIf="BackButtonVisible === false">
                    <mat-icon class="material-symbols-outlined label-font-size-large">pan_tool</mat-icon>
                </ng-container>

                <!-- <div class="colum-center">
                    <ng-container *ngIf="ModulTyp === programModul.HistoryView">
                        <span class="font-14-data">History</span>
                        <ng-container *ngIf='ModulTyp === programModul.HistoryView'>  
                            <div class="column-start-left">
                                <span>{{Programm.Name}}</span>
                            </div>
                            <div class="column-start-left">
                                <span>{{Session.Name}}</span>
                            </div>
                        </ng-container>
                    </ng-container>
                </div> -->

                <div class="column-start-left  mg-top-5">
                    <ng-container *ngIf="Programm !== undefined && Programm.Name !== undefined">
                        <span class="label-font-size-small">{{Programm.Name}}</span>
                    </ng-container>
                </div>

                <div class="center-item mg-top-5" layout-align="center center">
                    <span class="material-symbols-outlined label-font-size-large" (click)="doStats()">info</span>
                </div>

                <ng-container *ngIf="PauseButtonVisible()">
                    <ng-container *ngIf="Paused; then unpauseBlock else pauseBlock"></ng-container>

                    <ng-template #pauseBlock>

                        <div class="center-item" layout-align="center center">
                            <span class="material-symbols-outlined label-font-size-large" (click)="SetPause()">pause_circle</span>
                        </div>
                    </ng-template>

                    <ng-template #unpauseBlock>
                        <div class="center-item">
                            <span class="material-symbols-outlined label-font-size-large"  (click)="GoAhead()">play_circle</span>
                        </div>
                    </ng-template>
                </ng-container>

                <ng-container *ngIf="ModulTyp !== programModul.History && Session !== undefined">
                    <ng-container *ngIf="Session.Kategorie02 !== sessionStatus.Fertig && Session.Kategorie02 !== sessionStatus.FertigTimeOut; then ShowStartButton else dontShowStartButton;"></ng-container>

                    <ng-template #ShowStartButton>
                        <ng-container *ngIf="Session.Kategorie02 === sessionStatus.Laeuft || Session.Kategorie02 === sessionStatus.Pause">
                            <span class="material-symbols-outlined label-font-size-large"  (click)="StartButtonClick()">check_circle</span>
                        </ng-container>

                        <ng-container *ngIf="Session.Kategorie02 === sessionStatus.Wartet">
                            <span class="material-symbols-outlined label-font-size-large"  (click)="StartButtonClick()">play_circle</span>
                        </ng-container>


                        <div class="center-item" layout-align="center center">
                            <div matTooltip="Copy set" matTooltipPosition="above" class="material-symbols-outlined label-font-size-large" (click)="AddExercise()">add_ad</div>
                        </div>

                        <div class="center-item" layout-align="center center">
                            <span class="material-symbols-outlined label-font-size-large" (click)="PasteExcercise()">view_kanban</span>
                        </div>
                    </ng-template>

                    <ng-template #dontShowStartButton>
                        <div class="center-item" layout-align="center center">
                            <div matTooltip="Copy set" matTooltipPosition="above" class="material-symbols-outlined label-font-size-large" (click)="AddExercise()">add_ad</div>
                        </div>

                        <div class="center-item" layout-align="center center">
                            <span class="material-symbols-outlined label-font-size-large" (click)="PasteExcercise()">view_kanban</span>
                        </div>
                    </ng-template>
                </ng-container>

                <ng-container *ngIf="UebungenExpanded === false">
                    <span class="material-symbols-outlined label-font-size-large"  (click)="UebungenExpandedFn(appProgramm03)">open_in_full</span>
                </ng-container>
                <ng-container *ngIf="UebungenExpanded === true">
                    <span class="material-symbols-outlined label-font-size-large" (click)="UebungenExpandedFn(appProgramm03)">close_fullscreen</span>
                </ng-container>
            </div>
            
        </div>

        <div [ngClass]="{'main-panel': ModulTyp !== programModul.HistoryView,'main-panel-history-view': ModulTyp === programModul.HistoryView}">
            <app-programm03 #appProgramm03
                [session]="Session" 
                [cmpSession]="cmpSession" 
                [cmpSettingsSession]="cmpSession" 
                [bearbeitbar]="true" 
                [ShowStats]="true" 
                [programm]="Programm" 
                [ModulTyp]="ModulTyp"
                [StatsButtonVisible]="true"
                (AddDeletedExercise)="AddDeletedExercise($event)"
                (DoStats)="doStats()"
                (ExpandUebungenFn)="UebungenExpandedFn($event)"
                (DoCheckSettings)="doCheckSettings($event)"
                [DeletedSatzList]="DeletedSatzList">
            </app-programm03>
        </div>
    </div>
</div>