.header {
    padding-left: 3px;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1000; 
    background-color: white;
    max-height: 80px !important;
    height: 74px !important;
}

.header-line {
   width:100%;
   max-width:283px;
}

.main-panel {
    position: relative; 
    z-index: 1;
    top: 0px; 
} 

.main-panel-history-view {
    @extend .main-panel;
    top: 75px; 
} 

// #footer {
    // top: 150px;
    // z-index: 2000;
    // position: relative;
    // position: fixed;
// }