<div class="column-center ml-10 mr-10">
        <div class="column-center header">
            <div class="row-start-left-gap-3 header-line">
                <ng-container *ngIf="BackButtonVisible === true">
                    <div class="column-start-left">
                        <span class="material-symbols-outlined" (click)="back()">arrow_back</span>
                    </div>
                </ng-container>

                <ng-container *ngIf="BackButtonVisible === false">
                    <mat-icon>pan_tool</mat-icon>
                </ng-container>

                <!-- <div class="colum-center">
                    <ng-container *ngIf="ModulTyp === programModul.HistoryView">
                        <span class="font-14-data">History</span>
                        <ng-container *ngIf='ModulTyp === programModul.HistoryView'>  
                            <div class="column-start-left">
                                <span>{{Programm.Name}}</span>
                            </div>
                            <div class="column-start-left">
                                <span>{{Session.Name}}</span>
                            </div>
                        </ng-container>
                    </ng-container>
                </div> -->

                <div class="column-start-left  mg-top-5">
                    <ng-container *ngIf="Programm !== undefined && Programm.Name !== undefined">
                        <span class="font-14-data">{{Programm.Name}}</span>
                    </ng-container>
                </div>

                <div class="center-item mg-top-5" layout-align="center center">
                    <span class="material-symbols-outlined" (click)="doStats()">info</span>
                </div>

                <ng-container *ngIf="PauseButtonVisible()">
                    <ng-container *ngIf="Paused; then unpauseBlock else pauseBlock"></ng-container>

                    <ng-template #pauseBlock>

                        <div class="center-item" layout-align="center center">
                            <span class="material-symbols-outlined" (click)="SetPause()">pause_circle</span>
                        </div>
                    </ng-template>

                    <ng-template #unpauseBlock>
                        <div class="center-item">
                            <span class="material-symbols-outlined"  (click)="GoAhead()">play_circle</span>
                        </div>
                    </ng-template>
                </ng-container>

                <ng-container *ngIf="ModulTyp !== programModul.History && Session !== undefined">
                    <ng-container *ngIf="Session.Kategorie02 !== sessionStatus.Fertig && Session.Kategorie02 !== sessionStatus.FertigTimeOut; then ShowStartButton else dontShowStartButton;"></ng-container>

                    <ng-template #ShowStartButton>
                        <div class="center-item" layout-align="center center">
                            <a class='link-button-font' (click)="StartButtonClick()">{{StartButtonText()}}</a>
                        </div>
                        <div class="center-item" layout-align="center center">
                            <a [ngClass]="'link-button-font'" (click)="AddExercise()">Add exercise</a>
                        </div>

                        <div class="center-item" layout-align="center center">
                            <a [ngClass]="'link-button-font'" (click)="PasteExcercise()">Paste
                                Exercise</a>
                        </div>
                    </ng-template>

                    <ng-template #dontShowStartButton>
                        <div class="center-item" layout-align="center center">
                            <a [ngClass]="'link-button-font'" (click)="AddExercise()">Add exercise</a>
                        </div>

                        <div class="center-item" layout-align="center center">
                            <a [ngClass]="'link-button-font'" (click)="PasteExcercise()">Paste
                                Exercise</a>
                        </div>
                    </ng-template>
                </ng-container>
            </div>
            
    </div>

    <div [ngClass]="{'main-panel': ModulTyp !== programModul.HistoryView,'main-panel-history-view': ModulTyp === programModul.HistoryView}">
        <app-programm03 #appProgramm03
            [session]="Session" 
            [cmpSession]="cmpSession" 
            [cmpSettingsSession]="cmpSession" 
            [bearbeitbar]="true" 
            [ShowStats]="true" 
            [programm]="Programm" 
            [ModulTyp]="ModulTyp"
            [StatsButtonVisible]="true"
            (AddDeletedExercise)="AddDeletedExercise($event)"
            (DoStats)="doStats()"
            (DoCheckSettings)="doCheckSettings($event)"
            [DeletedSatzList]="DeletedSatzList">
        </app-programm03>
    
    </div>
</div>