.header {
    position: fixed;
    top: 0px;
    z-index: 1000; 
    background-color: white;
    max-height: 80px !important;
    height: 80px !important;
}

// #footer {
    // top: 150px;
    // z-index: 2000;
    // position: relative;
    // position: fixed;
// }