<!-- <div *ngIf="((SessionListe !== undefined) && (SessionListe.length > 0))"> -->
<ng-container  *ngIf="(SessionListe.length > 0)">
    <ng-container *ngFor="let sess of SessionListe, index as i">
        <mat-accordion multi="true" id="accordionSession">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <h6 class="mb-0">{{sess.Name}}</h6> 
                </mat-expansion-panel-header>

                <div [id]="'collapseSession' + i" 
                    aria-labelledby="headingOne" 
                    attr.data-parent="#accordionSession">

                     <div class="card-body"> 
                        <!-- session an Sub-Komponente durchreichen -->
                        <app-programm03 [session]="sess"></app-programm03>
                    </div> 
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </ng-container>
</ng-container>