.mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}  

.mat-expansion-panel-header {
    padding: 5px;
}

.header {
    // padding-left: 3px;
    // padding-top: 3px;
    width: 100%;
    position: fixed;
    z-index: 1000; 
    background-color: white;
}

.header-small {
    @extend .header;
    top: 54px;
}

.header-breit {
    @extend .header;
    top: 30px;
}
           
           


.main-panel {
    position: relative; 
    z-index: 1;
    top: 16px; 
} 

mat-panel-title,
mat-panel-description,
span {
  display: block;
}

mat-expansion-panel {
    width: 100%;
    padding: 0px;
  }
