/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.align-right { 
    text-align: right; 
}

.height-10 {
    height: 10px;
}

.height-20 {
    height: 20px;
}

.height-30 {
    height: 30px;
}

.height-35 {
    height: 30px;
}

.height-40 {
    height: 40px;
}

.height-45 {
    height: 40px;
}

.height-50 {
    height: 50px;
}

.width-65 {
    width: 65px;
}

.ml-20 {
    margin-left: 20px;
}

div.kreis {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: red;
    color: lightgray;
}

div.stern {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #ffc800;
    position: relative;
  }

div.stern:after {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid #ffc800;
    position: absolute;
    content: "";
    top: 30px;
    left: -50px;
  }

  div.herz {
    position: relative;
  }
 
  div.herz:before, div.herz:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
 
  div.herz:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  } 

  .tc-font-size-small {
      font-size: 14px;
  }

  .check-box {
    margin-top: 10px;
    margin-left: 20px;  
    vertical-align: middle;
    justify-content: center;
  }

  .center-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .link-button-font {
      font-size: smaller;
    //   color: #819FF7;
      color: #A9BCF5;
  }

  .session-panel{
    background-color: rgb(244, 248, 250);
}
