@import "./../node_modules/bootstrap/dist/css/bootstrap.css"; 

:root {
	--max-width: 380px;
	--header-background-color:  var(--main-content-background-color);
}

[data-theme="light"] {
	
	--first-color:  rgb(193, 146,255); 
	--second-color: rgb(0, 48, 66); 
	--value-color: black;
	--first-background-color: azure;
	--second-background-color: rgb(254 246 255);
	--alternate-color: rgb(237, 226, 245);
	--input-disabled-color: rgb(178 157 205);
	--label-color: var(--first-color);
	--mat-datepicker-calendar-text-font: var(--label-color);
	--mdc-text-button-label-text-color: var(--label-color);
	--mat-datepicker-calendar-body-label-text-color:var(--label-color);
	--mat-datepicker-calendar-date-text-color:  var(--second-color);
	--mat-datepicker-calendar-period-button-icon-color: var(--label-color);
	--mat-datepicker-calendar-header-text-color: var(--label-color);
	--mat-datepicker-calendar-header-divider-color: var(--label-color);
	--mat-datepicker-calendar-date-in-range-state-background-color: rgb(173, 156, 233);
	--checkbox-border-color: var(--label-color);
	--header-border-color: var(--first-background-color);
	--header-background-color:  var(--main-content-background-color);
	--header-menu-item-color: #231f20;
	--header-theme-switch-background-color: #cccccc;
	--header-theme-switch-before-background-color: #ffffff;
	--header-theme-switch-checked-background-color: #2196f3;
	--main-content-background-color: var(--first-background-color);
	--main-content-text-color: #231f20;
	--input-text-color:  #402289;
	--input-background-color: rgb(238 233 253);
	--HG-01: transparent;
	--HG-02: transparent;
	--link-button-font-color: rgb(127, 127, 248);
	--cc-overlay-border-color: rgb(226 215 247);
	--box-shadow-ex: 3px 3px 1px 1px rgb(214, 187, 250);	
	--mat-toolbar-panel-background-color: var(--second-background-color);
	--mat-toolbar-panel-color: var(--label-color);
	--mat-expansion-container-background-color: var(--second-color);
	--mdc-radio-selected-icon-color:var(--first-color);
	--mdc-radio-unselected-icon-color: var(--first-color);
	//--mdc-filled-button-label-text-color: var(--first-color);
	--mdc-filled-button-container-color:  var(--first-background-color);	
	--mat-select-panel-background-color: var(--input-background-color);	
	--mat-option-label-text-color: var(--first-color);
	--mdc-checkbox-selected-icon-color: var(--first-color);
	--mdc-checkbox-selected-focus-icon-color: var(--first-color);
	--mdc-checkbox-unselected-icon-color: transparent;
	--mdc-checkbox-selected-hover-icon-color: transparent;
	// --mat-datepicker-calendar-text-font: var(--label-color);
	--mdc-text-button-label-text-color: var(--label-color);
	--mdc-checkbox-selected-checkmark-color: var(--label-color);
	--mat-select-enabled-trigger-text-color: : var(--first-color);	
	--cc-dialog-container-elevation-shadow: var(--mdc-dialog-container-elevation-shadow);
  }

  [data-theme=dark] {
    --first-color: darkgray;
    --second-color: darkgray;
    --value-color: rgb(140, 255, 125);
    --first-background-color: #1d1d1d;
    --second-background-color: #464646;
    --alternate-color: #3d3636;
    --input-disabled-color: darkgray;
    --label-color: darkgray;
    --mat-datepicker-calendar-text-font: var(--label-color);
    --mdc-text-button-label-text-color: var(--label-color);
    --mat-datepicker-calendar-body-label-text-color: var(--label-color);
    --mat-datepicker-calendar-date-text-color: var(--value-color);
    --mat-datepicker-calendar-period-button-icon-color: var(--label-color);
    --mat-datepicker-calendar-header-text-color: var(--label-color);
    --mat-datepicker-calendar-header-divider-color: var(--label-color);
    --mat-datepicker-calendar-date-in-range-state-background-color: rgb(173, 156, 233);
    --checkbox-border-color: var(--label-color);
    --header-background-color: var(--first-background-color);
    --header-border-color: #e5e8ea;
    --header-menu-item-color: #ffffff;
    --header-theme-switch-background-color: #cccccc;
    --header-theme-switch-before-background-color: #ffffff;
    --header-theme-switch-checked-background-color: #2196f3;
    // --main-content-background-color: #231f20;
	--main-content-background-color: var(--first-background-color);
    --main-content-text-color: #ffffff;
    --input-text-color: lightgray;
    --input-background-color: var(--second-background-color);
    --HG-01: transparent;
    --HG-02: transparent;
    --link-button-font-color: rgb(196, 196, 247);
    --cc-overlay-border-color: var(--label-color);
    --box-shadow-ex: 3px 3px 1px 1px rgba(133, 133, 133, 0.2);
    --mat-expansion-header-background-color: rgb(56, 56, 56);
    --mat-toolbar-panel-background-color: rgb(56, 56, 56);
    --mat-toolbar-panel-color: var(--label-color);
    --mat-expansion-container-background-color: var(--second-color);
    --mdc-radio-selected-icon-color: var(--first-color);
    --mdc-radio-unselected-icon-color: var(--first-color);
    --mdc-filled-button-container-color: var(--first-background-color);
    --mat-option-label-text-color: var(--first-color);
    --mat-select-panel-background-color: var(--input-background-color);
    --mdc-checkbox-selected-icon-color: var(--first-color);
    --mdc-checkbox-selected-focus-icon-color: var(--first-color);
    --mdc-checkbox-unselected-icon-color: transparent;
    --mdc-checkbox-selected-hover-icon-color: transparent;
    --mdc-checkbox-selected-checkmark-color: var(--first-color);
    --mat-select-enabled-trigger-text-color: : var(--label-color);
	//--mdc-dialog-container-elevation-shadow:  0px 0px 5px 7px rgba(169, 169, 169, 0.2), 0px 0px 0px 0px rgba(169, 169, 169, 0.2), 0px 0px 0px 0px rgba(169, 169, 169, 0.2); 
	--cc-dialog-container-elevation-shadow:   0px 0px 5px 7px rgba(169, 169, 169, 0.2), 0px 0px 0px 0px rgba(169, 169, 169, 0.2), 0px 0px 0px 0px rgba(169, 169, 169, 0.2); 
}

.Uebung-Name {
	//    background: lightgrey;
		background: var(--input-background-color);
		border-radius: 5px; 
		border-width: 1px;
		font-size: 14px;
		color:  var(--input-text-color);
		width: 100%;
		height: 25px;
		padding-top: 4px;
		padding-left: 4px;
	}

.mat-mdc-button.mat-unthemed {
	--mdc-text-button-label-text-color: var(--label-color);
}


.ngx-charts text { fill: var(--first-color); }

div {
	background-color: transparent;
}

h4 {
	color: var(--first-color) !important;
	background-color: transparent;
}

a {
	color: var(--label-color) !important;
	background-color: transparent;
}


.mat-datepicker-content {
    display: block;
    border-radius: 4px;
    background-color: var(--second-background-color);
    color: var(--first-color);
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
    color: var(--first-color);
}

.mat-mdc-card {
    --mdc-elevated-card-container-color:  var(--second-background-color);
 }


  ::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
    color: var(--mdc-checkbox-selected-checkmark-color);
    background-color: transparent;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
    border-color: var(--mdc-checkbox-unselected-icon-color);
    background-color: transparent;
}

::ng-deep .mdc-checkbox .mdc-checkbox__native-control:enabled:focus:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:focus:indeterminate~.mdc-checkbox__background {
    border-color: var(--mdc-checkbox-selected-focus-icon-color);
    background-color: transparent;
}

::ng-deep .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox:hover .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
    border-color: var(--mdc-checkbox-selected-hover-icon-color);
    background-color: transparent;
}

  .alternate-color {
	background-color: var(--alternate-color) !important;
	
  }

  .alternate-row {
	@extend .alternate-color;
	//background-color: var(--alternate-color);
	border-radius: 5px;
  }


  .mat-mdc-checkbox label {
	  color: var(--first-color);
}

.mat-expansion-panel-header{
	color: var(--first-color);
}

.mat-mdc-unelevated-button.mat-unthemed {
    --mdc-filled-button-container-color: var(--first-background-color);
    --mdc-filled-button-label-text-color: var(--first-color);
}


::ng-deep .mat-mdc-unelevated-button:not(:disabled) {
    background-color: var(--first-background-color);
}

.mat-mdc-radio-button .mdc-radio .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle {
    border-color: var(--first-color);
}

html,
body {
	height: 100%;
	background-color: var(--main-content-background-color);
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}


.invisible{
	display:none;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: right;
}


.height-8 {
	min-height: 8px !important; 
	height: 8px !important;
}


.height-10 {
	min-height: 10px !important; 
	height: 10px !important;
}

.height-20 {
	min-height: 20px !important; 
	height: 20px !important;
}

.height-25 {
	min-height: 25px !important; 
	height: 25px !important;
}


.height-30 {
	min-height: 30px !important; 
	height: 30px !important;
}

.height-35 {
	min-height: 35px !important; 
	height: 35px !important;
}

.height-40 {
	min-height: 40px !important; 
	height: 40px !important;
}

.height-45 {
	min-height: 45px !important; 
	height: 45px !important;	
}

.height-50 {
	min-height: 50px !important; 
	height: 50px !important;	
}

.height-55 {
	min-height: 55px !important;
	height: 55px !important;
}

.height-60 {
	min-height: 60px !important;
	height: 60px !important;
}

.height-65 {
	min-height: 65px !important;
	height: 65px !important;
}

.height-68 {
	min-height: 68px !important;
	height: 68px !important;
}


.height-70 {
	min-height: 70px !important;
	height: 70px !important;
}


.height-75 {
	min-height: 75px !important;
	height: 75px !important;
}

.height-80 {
	min-height: 80px !important;
	height: 80px !important;
}

.height-85 {
	min-height: 80px !important;
	height: 85px !important;
}

.height-100 {
	min-height: 100px !important;
	height: 100px !important;
}

.height-150 {
	min-height: 150px !important;
	height: 150px  !important;
}

.height-155 {
	min-height: 155px !important;
	height: 155px  !important;
}

.height-170 {
	min-height: 170px !important;
	height: 170px  !important;
}

.height-200 {
	min-height: 200px !important;
	height: 200px !important;
}

.height-300 {
	min-height: 300px !important;
	height: 300px !important;
}


.height-400 {
	min-height: 400px !important;
	height: 400px !important;
}


.height-500 {
	min-height: 500px !important;
	height: 500px;
}

.height-600 {
	min-height: 600px !important;
	height: 600px;
}

.height-700 {
	min-height: 700px !important;
	height: 700px !important;
}

.height-80-Prozent {
	min-height: 80% !important;
	height: 80% !important;
}

.height-100-Prozent {
	height: 100%;
}

.width-20 {
	min-width: 20px !important;
	max-width: 20px !important;
	width: 20x !important;
}


.width-25 {
	min-width: 25px !important;
	max-width: 25px !important;
	width: 25x !important;
}

.width-30 {
	width: 30px !important;
}

.width-40 {
	width: 40px;
}

.width-45 {
	width: 45px;
}

.width-50 {
	width: 50px  !important;
}

.width-60 {
	width: 60px !important;
}


.width-65 {
	width: 65px !important;
}

.width-75 {
	width: 75px !important;
}

.width-85 {
	width: 85px !important;
}

.width-100 {
	min-width: 100px !important;
	width: 100px !important;
}

.width-125 {
	max-width: 125px !important;
	min-width: 125px !important;
	width: 125px !important;
}


.width-150 {
	max-width: 150px !important;
	min-width: 150px !important;
	width: 150px !important;
}

.width-200 {
	min-width: 200px !important;
	width: 200px !important;
}

.width-235 {
	min-width: 235px !important;
	width: 235px !important;
}

.width-230 {
	min-width: 230px !important;
	width: 230px !important;
}

.width-250 {
	min-width: 250px !important;
	width: 250px !important;
}

.width-280 {
	min-width: 280px !important;
	width: 280px !important;
}

.width-300 {
	min-width: 300px !important;
	width: 300px !important;
}

.width-320 {
	min-width: 320px !important;
	width: 320px !important;
}


.width-350 {
	min-width: 350px !important;
	width: 350px !important;
}

.width-355 {
	min-width: 355px !important;
	width: 355px !important;
}

.width-360 {
	min-width: 360px !important;
	width: 360px !important;
}

.width-380 {
	min-width: 380px !important;
	max-width: 380px !important;
	width: 380px !important;
}

.width-400 {
	min-width: 400px!important;
	max-width: 400px!important;
	width: 400px !important;
}

.width-450 {
	min-width: 450px !important;
	width: 450px !important;
}

.width-500 {
	min-width: 500px !important;
	width: 500px !important;
}

.width-550 {
	min-width: 550px !important;
	width: 550px !important;
}

.width-600 {
	width: 600px;
}

.width-700 {
	min-width: 700px !important;
	width: 700px !important;
}


.width-5-Prozent {
	width: 5% !important;
}

.width-10-Prozent {
	width: 10% !important;
}

.width-20-Prozent {
	width: 20% !important;
}

.width-30-Prozent {
	width: 30% !important;
}

.width-40-Prozent {
	width: 40% !important;
}

.width-50-Prozent {
	width: 50% !important;
}

.width-60-Prozent {
	width: 60% !important;
}

.width-70-Prozent {
	width: 70% !important;
}

.width-80-Prozent {
	width: 80% !important;
}

.width-90-Prozent {
	width: 90% !important;
}

.width-100-Prozent {
	width: 100% !important;
}


.ml-3 {
	margin-left: 3px;
}

.ml-5 {
	margin-left: 5px;
}

.ml-10 {
	margin-left: 10px;
}

.ml-20 {
	margin-left: 20px;
}

.mr-5 {
	margin-right: 5px;
}

.mr-10 {
	margin-right: 10px;
}

.mr-20 {
	margin-right: 20px;
}


.colors-textarea {
	@extend .input-HG;
	border-color: transparent;
}

.hg-color-warm-up {
	background-color: #fbb6b1
}

.hg-color-work {
	background-color: rgb(252, 120, 120);
}

.hg-color-cool-down {
	background-color: aqua;
}

.ok-img-box {
	@extend .column-center;
	@extend .height-10;
	margin-top: -8px;
}

.ok-img {
	max-width: 15px !important;
    width: 15px;
	max-height: 15px !important;
    height: 15px;
    position: relative;
    top: -3px;
    left: 20px;
}

.kreis {
	--diameter: 44px;
	width: var(--diameter);
	height: var(--diameter);
	border-radius: calc(var(--diameter)/2);
	color: black;
}

div.kreisRot {
	@extend .kreis; 
	@extend .hg-color-work; 
}

div.kreis-warm-up {
	@extend .kreis; 
	@extend .hg-color-warm-up
}

div.kreis-hellblau {
	@extend .kreis; 
	@extend .hg-color-cool-down;
}


div.kreis-gruen {
	@extend .kreis; 
	background-color: lightgreen;
}


div.stern {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #ffc800;
	position: relative;
}

div.stern:after {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 100px solid #ffc800;
	position: absolute;
	content: "";
	top: 30px;
	left: -50px;
}

div.herz {
	position: relative;
}

div.herz:before,
div.herz:after {
	position: absolute;
	content: "";
	left: 50px;
	top: 0;
	width: 50px;
	height: 80px;
	background: red;
	border-radius: 50px 50px 0 0;
	transform: rotate(-45deg);
	transform-origin: 0 100%;
}

div.herz:after {
	left: 0;
	transform: rotate(45deg);
	transform-origin: 100% 100%;
}

.font-14-label {
	font-size: 14px;
	font-weight: bold;
    color: var(--label-color);
}

.blue-bold {
	font-weight: bold;
	color: rgb(137, 182, 241);
}

.font-14-data {
	@extend .blue-bold;
	font-size: 14px;
}

.font-20-data {
	@extend .blue-bold;
	font-size: 20px;
}

.font-35-data {
	@extend .blue-bold;
	font-size: 35px;
}

.label-font-color {
	color: var(--label-color);
}

.font-size-standard {
	font-size: 16px;
}

.font-size-small {
	font-size: 14px;
}

.font-size-smaller {
	font-size: 10px;
}

.font-size-smallest {
	font-size: 9px;
}

.font-size-large {
	font-size: 22px;
}

.font-size-larger {
	font-size: 26px;
}


.label-font-size-standard {
	@extend .label-font-color;
	@extend .font-size-standard;
}

.label-font-size-small {
	@extend .label-font-color;
	@extend .font-size-small;
}

.label-font-size-smaller {
	@extend .label-font-color;
	@extend .font-size-smaller;
}

.label-font-size-smallest {
	@extend .label-font-color;
	@extend .font-size-smallest;
}


.label-font-size-large {
	@extend .label-font-color;
	@extend .font-size-large;
}


.font-bold {
	font-weight: bold;
	color: var(--first-color);
}

.font-size-smaller {
	font-size: smaller;
}

.font-size-xsmall {
	font-size: x-small;
}

.Satz-Typ-Text {
	color: var(--second-color);
	font-size: smaller;
}

.check-box {
	margin-top: 10px;
	margin-left: 20px;
	vertical-align: middle;
	justify-content: center;
}

.align-items-left {
	display: flex;
	justify-content: flex-start;
	align-items: left;
	flex-direction: column;
}

.column {
	// background-color: var(--second-background-color);
	background-color: transparent;
	flex-direction: column;
}

.column-start-left {
	@extend .column;
	@extend .align-items-left;
}

.align-items-right {
	justify-content: right;
	align-items: right;
}

.center-item {
	display: flex;
	justify-content: center;
	align-items: center;
}


.column-center {
	@extend .center-item;
	flex-direction: column;
}

.column-center-flexend {
	@extend .column-center;
	align-self: flex-end;
	// flex-direction: column-reverse;
}

.grid-row {
	width: 100%;
	max-width: var(--max-width);
}

.row-center {
	@extend .background-color-transparent;
	@extend .center-item;
	flex-direction: row;
}

.row-center-gap-3 {
	@extend .row-center;
	row-gap: 3px;
}


.row-center-gap-5 {
	@extend .row-center;
	row-gap: 5px;
}


.row-center-gap-10 {
	@extend .row-center;
	column-gap: 10px;
	// row-gap: 10px;
}

.row-center-gap-5 {
	@extend .row-center;
	column-gap: 5px;
	// row-gap: 10px;
}


.wrap {
	flex-wrap: wrap;
}

.row-start-left {
	// @extend .background-color-transparent;
	@extend .wrap; 
	display: flex;
	justify-content:flex-start;
	align-items:center;
	flex-direction: row;
}

.row-start-left-gap-3 {
	@extend .row-start-left;
	column-gap: 3px;
}

.row-start-left-gap-5 {
	@extend .row-start-left;
	column-gap: 5px;
}

.row-start-left-gap-7 {
	@extend .row-start-left;
	column-gap: 7px;
}

.row-start-right {
	@extend .background-color-transparent;
	@extend .wrap; 
	display: flex;
	justify-content:flex-start;
	align-items:center;
	flex-direction: row-reverse;
}



.link-button-font {
	padding: 5px;
	font-size: smaller;
	//   color: #819FF7;
	color: var(--link-button-font-color); //#a9bcf5;
}


.HG-01 {
	background-color: var(--HG-01);
}

.HG-02 {
	background-color: var(--HG-02);
}


.HG-Transparent {
	background-color: transparent;
}

.mg-5 {
	margin: 5px;
}

.mg-left-5 {
	margin-left: 5px !important;
}

.mg-left-10 {
	margin-left: 10px !important;
}

.mg-top-1 {
	margin-top: 1px !important;
}

.mg-top-2 {
	margin-top: 3px !important;
}

.mg-top-3 {
	margin-top: 3px !important;
}

.mg-top-4 {
	margin-top: 4px !important;
}

.mg-top-5 {
	margin-top: 5px !important;
}

.mg-top-6 {
	margin-top: 6px !important;
}

.mg-top-7 {
	margin-top: 7px !important;
}

.mg-top-8 {
	margin-top: 8px !important;
}

.mg-top-9 {
	margin-top: 9px !important;
}

.mg-top-10 {
	margin-top: 10px !important;
}

.mg-top-11 {
	margin-top: 11px !important;
}
.mg-top-12 {
	margin-top: 12px !important;
}
.mg-top-13 {
	margin-top: 13px !important;
}
.mg-top-14 {
	margin-top: 14px !important;
}

.mg-top-15 {
	margin-top: 15px !important;
}

.mg-top-16 {
	margin-top: 16px !important;
}

.mg-top-17 {
	margin-top: 17px !important;
}

.mg-top-18 {
	margin-top: 18px !important;
}

.mg-top-19 {
	margin-top: 19px !important;
}

.mg-top-20 {
	margin-top: 20px !important;
}

.mg-top-21 {
	margin-top: 21px !important;
}

.mg-top-22 {
	margin-top: 22px !important;
}

.mg-top-23 {
	margin-top: 23px !important;
}

.mg-top-24 {
	margin-top: 24px !important;
}

.mg-top-25 {
	margin-top: 25px !important;
}

.mg-top-30 {
	margin-top: 30px !important;
}

.mg-bottom-2 {
	margin-bottom: 2px !important;
}

.mg-bottom-3 {
	margin-bottom: 3px !important;
}

.mg-bottom-5 {
	margin-bottom: 5px !important;
}

.mg-bottom-10 {
	margin-bottom: 10px !important;
}




.mg-right-3 {
	margin-right: 3px;
}

.mg-right-4 {
	margin-right: 4px;
}

.mg-right-5 {
	margin-right: 5px;
}

.mg-lr-10 {
	margin-left: 10px;
	margin-right: 10px;
}

.mg-lr-15 {
	margin-left: 15px;
	margin-right: 15px;
}

.mg-lr-20 {
	margin-left: 20px;
	margin-right: 20px;
}

.mg-lr-25 {
	margin-left: 25px;
	margin-right: 25px;
}

.mg-lr-30 {
	margin-left: 30px;
	margin-right: 30px;
}


.pad-5 {
	padding: 5px;
}

.pad-10 {
	padding: 10px;
}

.pad-25 {
	padding: 25px;
}

.pad-left-3 {
	padding-left: 3px;
}

.pad-left-5 {
	padding-left: 5px;
}

.pad-right-3 {
	padding: 3px;
}

.pad-right-5 {
	padding-right: 5px;
}

.pad-top-5 {
	padding-top: 5px;
}

.pad-top-12 {
	padding-top: 12px;
}

.pad-top-20 {
	padding-top: 20px;
}

.pad-top-30 {
	padding-top: 30px;
}



.pad-bottom-5 {
	padding-bottom: 5px;
}


.pd-l-5 {
	padding-left: 5px;
}

textarea:focus {
	outline: none !important;
	border-color: #bdd2e9;
}

.scroll-Vert {
	overflow-y: scroll;
}

.no-scroll-Vert {
	overflow-y: hidden !important;
}


.ref-button {
	font-size: smaller;
	color: var(link-button-font-color);// #a9bcf5;
	background-color: transparent;
}

  .box-shadow-ex {
    box-shadow: var(--box-shadow-ex);
  }

  .mat-expansion-panel:not([class*='mat-elevation-z']) {
    box-shadow: none;
}

.cc-Scrollbar-AutoY{
	overflow-y: auto;
}

.input-HG {
 background-color: var(--input-background-color); //$my-theme.color.accent// #fbfbfb
// #f7f4fa;

}


.input-standards {
	@extend .input-HG;
	min-height: 35px !important;
	height: 35px;
	font-size: 16px;
	border-radius: 6px;
	border-style: none;
	border-color: rgb(248, 244, 244);
	padding: 3px;
	color: var(--input-text-color);
	background-color: var(--input-background-color);
}

input[type=text]  {
	@extend .input-standards;
}

input[type=text]:focus  {
	color: var(--input-text-color);
	outline: none;
  }


  input[type=text]:disabled  {
	color: var(--input-disabled-color);
  }


  input:disabled  {
	color: var(--input-disabled-color);
  }

  .border-radius-5 {
	border-radius: 5px;
}


.border-radius-10 {
	border-radius: 10px;
}



.cc-overlay {
	@extend .box-shadow-ex;
	padding: 10px;	
	border-style: inset;
	border-radius: 10px;
	border-color:  var(--cc-overlay-border-color);
	border-width: 1px;
	border-bottom: none;
	border-right: none;
	background-color: var(--main-content-background-color);
	max-width: 350px;
  }

//   .cc-Dialog {
//   	  padding: 10px;
// 	   border-radius: 10px;
// 	  color: var(--label-color);
// 	  --mdc-dialog-container-elevation-shadow: var(--cc-dialog-container-elevation-shadow);
// 	  --mdc-dialog-container-elevation:  var(--mdc-dialog-container-elevation-shadow);
// 	  --mdc-dialog-container-color: var(--first-background-color);
// 	  --mdc-dialog-subhead-color: rgba(0, 0, 0, 0.87);
// 	  --mdc-dialog-supporting-text-color: rgba(0, 0, 0, 0.6);	  
// }


  .cc-Dialog
    .mat-mdc-dialog-container
  	.mdc-dialog__container
  	.mat-mdc-dialog-surface {
		padding: 10px;
 		border-radius: 10px;
		color: var(--label-color);
		--mdc-dialog-container-elevation-shadow: var(--cc-dialog-container-elevation-shadow);
		--mdc-dialog-container-elevation:  var(--mdc-dialog-container-elevation-shadow);
		--mdc-dialog-container-color: var(--first-background-color);
		--mdc-dialog-subhead-color: rgba(0, 0, 0, 0.87);
		--mdc-dialog-supporting-text-color: rgba(0, 0, 0, 0.6);	  
}

//   .cdk-global-scrollblock {
// 	overflow-y: hidden !important;    
// }

.mdc-dialog__surface {
    overflow-y: hidden !important;
    }

.background-color-transparent {
	background-color: transparent;
}

  .mdc-text-field--filled:not(.mdc-text-field--disabled){
	@extend .background-color-transparent;
  }

  #editExercise {
    @extend .column-center;
	height: 100% !important;
	width: 100% !important;	
	padding: 10px;
	background-color: var(--main-content-background-color);
}

#editExerciseHeader {
	@extend .row-center;
	@extend .width-100-Prozent;
}

#editExerciseBackIcon {
	@extend .row-start-left;
	@extend .width-100-Prozent;
	color: var(--first-color);
}

#editExerciseDescription {
	@extend .colors-textarea; 
	@extend .width-100-Prozent;
	overflow: auto;
	color: var(--input-text-color);
	resize: none;
	height: 140px !important;
	max-height: 140px !important;
}

.ng-star-inserted {
    margin-top: 5px;
}

.mat-expansion-panel {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.mat-calendar-body-cell-content {
	color: var(--input-text-color);
}


  .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px;
    padding: 0.75em 0.75em 0 0.75em;
    border: 1px solid #f94747;
	// background: none;
  }

  .header-box {
     position:fixed;
	 top:0;   
	 width: 100%;  
	 z-index: 1000;
	background-color: var(--main-content-background-color);
	// background-color: transparent;
	//  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

 .blink {
    animation-name: animation_blink;
    animation-timing-function: ease-in;
    animation-duration: 2s; 
	animation-iteration-count: 3;  
}

@keyframes animation_blink {
    0% { opacity: 1; }
    50% { opacity: 0.1; }
    100% { opacity: 1; }    
}

  .disable_ripple:hover{
	background: transparent !important;
	}

.mat-expansion-panel.mat-expanded,
.mat-expansion-panel:not(.mat-expanded),
.mat-expansion-panel-header-title {
  background-color: var(--mat-expansion-header-background-color);
}

mat-panel-title,
mat-panel-description,
span {
	display: block;
}	



// :host ::ng-deep .mat-checkbox-frame { 
//     border-color: grey 
// }

// ::ng-deep .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background,
// .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background,
// .mat-mdc-checkbox .mdc-checkbox .mdc-checkbox__native-control[data-interminate]:enabled ~ .mdc-checkbox__background { 
//   border-color:green;
//   background-color: yellow;
// } 

// :host ::ng-deep .mdc-checkbox__native-control:enabled ~ .mdc-checkbox__background, .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background {
// 	border-color:yellow !important;
// 	background-color: red !important;
//   }

.mat-mdc-radio-button.mat-accent {
    // --mdc-radio-unselected-pressed-icon-color: #ffc107;
    // --mdc-radio-selected-pressed-icon-color: #ff4081;
	--mdc-radio-selected-icon-color: var(--first-color);
	--mdc-radio-unselected-icon-color: var(--first-color);
}

.mat-mdc-radio-button .mdc-form-field {
    color: var(--first-color);
}  

// :host ::ng-deep .mat-calendar .mat-mdc-button:not(:disabled){
// 	color:  var(--mat-datepicker-calendar-text-font);
//   }

//   :host ::ng-deep  .mat-calendar .mat-mdc-button:disabled{
// 	color:  var(--mat-datepicker-calendar-text-font);
//   }

.mdc-checkbox__background {
    border-color: var(--checkbox-border-color) !important;
}


// ::ng-deep .mat-radio-button {
// 	color: yellow;
//   }



//   ::ng-deep .mat-calendar-body-in-range .mat-calendar-body-cell-content {
// 	border: 3px solid orange;
// 	border-radius: 0;
// 	border-left-width: 0;
// 	border-right-width: 0;
// 	color: #fff;	
// 	background-color: white;
//   }
  
//   ::ng-deep .mat-calendar-body-range-end > .mat-calendar-body-selected {
// 	background-color: white;
// 	color: #fff;	
// 	border: 3px solid orange;
// 	border-top-left-radius: 0;
// 	border-bottom-left-radius: 0;
// 	border-left-width: 0;
// 	border-top-right-radius: 50%;
// 	border-bottom-right-radius: 50%;
//   }
//   ::ng-deep .mat-calendar-body-range-start > .mat-calendar-body-selected {
// 	color: #fff;	
// 	background-color: white;
// 	border: 3px solid orange;
// 	border-top-right-radius: 0;
// 	border-bottom-right-radius: 0;
// 	border-top-left-radius: 50%;
// 	border-bottom-left-radius: 50%;
// 	border-right-width: 0;
//   }

// .mat-calendar  {
// 	background-color: #bdd2e9;
//   }

// .ngx-mat-timepicker {
// 	background-color: #bdd2e9;
//   }

//   .ngx-mat-datetime-content {
// 	background-color: #bdd2e9;
//   }
// .radio-group {
// 	padding: 5px;
// 	height: 55px;
// 	border-radius: 5px;
// 	border: 1px;
// 	border-style: solid;
// 	border-color: gray;
// }

//   .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
//     color: rgba(0, 0, 0, 0.87);
//     text-align: right;
//   }
