<div id="header">
        <app-toolbar></app-toolbar>
</div>    

<div [ngClass]="{'main-panel-schmal': Toolbar_3_rows === true, 'main-panel-mittel': Toolbar_2_rows, 'main-panel-breit': Toolbar_1_row }" class="column-center">        
    <p><a  mat-button (click)="NavExercise()">Exercises</a></p>
    <p><a  mat-button (click)="NavMuscleGroups()">Musclegroups</a></p>
    <p><a  mat-button (click)="NavScheiben()">Plates</a></p>
    <p><a  mat-button (click)="NavBarbells()">Barbells</a></p>
    <p><a  mat-button (click)="NavWeightIncrement()">Progression schemas</a></p>
    <p><a  mat-button (click)="NavBodyweight()">Bodyweight</a></p>
    <p><a mat-button (click)="ResetDatabase()">Reset database</a></p>

        <div class="column-center WeightUnit">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
                <mat-label>Weight unit</mat-label>
            </div>
            
            <div class="row-center width-150">
                
                <div class="center-item" layout-align="center center" fxFlex="75px">
                    <mat-checkbox [(ngModel)]="KG">KG</mat-checkbox>
                </div>
                <div class="center-item" layout-align="center center" fxFlex="75px">
                    <mat-checkbox [(ngModel)]="LBS">LBS</mat-checkbox>
                </div>
            </div>    
        </div>

</div>
