    
<app-toolbar></app-toolbar>
<div class="column-center" >
<div class="row-center">
    <h4>Settings and core data</h4>
</div>
    <p><a  mat-button (click)="NavExercise()">Exercises</a></p>
    <p><a  mat-button (click)="NavMuscleGroups()">Muscles</a></p>
    <p><a  mat-button (click)="NavScheiben()">Plates</a></p>
    <p><a  mat-button (click)="NavBarbells()">Barbells</a></p>
    <p><a  mat-button (click)="NavWeightIncrement()">Progression schemas</a></p>
    <p><a  mat-button (click)="NavBodyweight()">Bodyweight</a></p>
    <p><a mat-button (click)="ResetDatabase()">Reset database</a></p>

    <!-- <div style="border-style:groove; border: 3px; border-color: blue; background-color: beige;"  fxLayoutAlign="center" > -->
        <div class="center-item WeightUnit" fxLayout="column" fxFlex="80">
            <div fxLayout="row wrap" fxLayoutAlign="center center">
                <mat-label>Weight unit</mat-label>
            </div>
            
            <div fxLayout="row wrap" fxLayoutAlign="center center">
                
                <div class="center-item" layout-align="center center" fxFlex="75px">
                    <mat-checkbox [(ngModel)]="KG">KG</mat-checkbox>
                </div>
                <div class="center-item" layout-align="center center" fxFlex="75px">
                    <mat-checkbox [(ngModel)]="LBS">LBS</mat-checkbox>
                </div>
            </div>    
        </div>

</div>
