.WeightUnit {
    border: 1px aqua;
    border-style: solid;
    box-sizing: border-box;
    border-radius: 3px;
}


#header {
    position: fixed; 
    top: 0px; 
    z-index: 1000;
    background-color: white;
    width:100%;
}

.main-panel {
    top:30px;
    position: relative; 
    z-index: 1;
}

.main-panel-schmal {
    @extend .main-panel;
    top:126px;
}

.main-panel-mittel {
    @extend .main-panel;
    top:90px;
}

.main-panel-breit {
    @extend .main-panel;
    top:57px;
}